.site-branding
  position: relative
  z-index: 1000
  a#logo 
    width: 100%
    height: 100%


  svg.atelier-wehrle_mobile_logo
    display: none

  @include s
    svg.atelier-wehrle_logo
      display: none
      visibility: hidden
    
    svg.atelier-wehrle_mobile_logo
      display: block
      visibility: visible