config.codekit3
node_modules
dist
src/_generated
.DS_Store
.BridgeSort
.playwright-cli

# Local Netlify folder
.netlify
.env
src/backup
src/pages/de/gaerten_old.njk
src/pages/en/gaerten_old.njk

src/redirects.txt
