.about
    @include pt-30
    @include pb-30

    .grd__a
        grid-template-columns: 1fr 1fr
        align-items: center
        grid-row-gap: 80px

    .team-list
        margin-top: 80px

    .team-member
        display: grid
        grid-template-columns: 1fr 1fr
        grid-column-gap: 32px
        align-items: center
        margin-bottom: 80px

        &:last-child
            margin-bottom: 0

        &--reverse
            .team-member__image
                order: 2
            .team-member__content
                order: 1

    .role
        margin: -6px 0 16px
        font-size: 1rem
        line-height: 1.4
        text-transform: none
        hyphens: none

@include m
    .about
        .grd__a
            grid-template-columns: 1fr

        .team-member
            grid-template-columns: 1fr
            grid-row-gap: 24px
            margin-bottom: 64px

            .team-member__image
                order: 1
            .team-member__content
                order: 2

@include s
    .about
        .grd__a
            grid-template-columns: 1fr

        .team-member
            grid-template-columns: 1fr
            grid-row-gap: 24px
            margin-bottom: 64px

            .team-member__image
                order: 1
            .team-member__content
                order: 2
