---
date: 2022-02-01
title: Geneva
description: Geneva CH – Balkon 
featuredImage: geneva/geneva__06.jpg
tags: ['posts_de']
slug: geneva

seoTitle: Geneva
seoDescription: Geneva CH – Balkon 
metaImage: 
---

<section class="opener {{ page.fileSlug }} {{ tags | join(' ') }} lx">

  <div class="wrapper">

    {% picture  "geneva/geneva__06.jpg", "Atelier Wehrle – Geneva" %}

  </div><!-- .wrapper -->

</section><!-- .opener -->


<section class="garden_gllry">

  <ol class="wrapper grd__gllry __imgs">

    <li class="item__ oov">
      {% picture  "geneva/geneva__04.jpg", "Atelier Wehrle – Geneva" %}
    </li>
    
    <li class="item__ oov">
      {% picture  "geneva/geneva__02.jpg", "Atelier Wehrle – Geneva" %}
    </li>

    <li class="item__ oov">
      {% picture  "geneva/geneva__01.jpg", "Atelier Wehrle – Geneva" %}
    </li>
<!--
    <li class="item__ oov">
      <h1 class="bigquote">Lorem Ipsum dolor sit, atem dolor qit</h1>
      <span>Vorname Mustername</span>
    </li>
-->
    <li class="item__ oov">
      {% picture  "geneva/geneva__07.jpg", "Atelier Wehrle – Geneva" %}
    </li>

    <li class="item__ oov">
      {% picture  "geneva/geneva__03.jpg", "Atelier Wehrle – Geneva" %}
    </li>

  </ol><!-- .wrapper -->

</section><!-- .opener -->

<section class="garden__details oov">

  <div class="wrapper">

    <h1 class="h5">Geneva CH – Balkon</h1>

    <p class="__txt">

      Auf einem kleinen Balkon in Genf hat Atelier Wehrle ein Gartenparadies geschaffen, das trotz der begrenzten Fläche als Ruheoase inmitten des hektischen Stadtlebens dient. Der Außenbereich wurde als natürliche Erweiterung des Innenraums gestaltet – ein Wohnzimmer im Freien, das zum Entspannen einlädt. 
      <br /><br />
      Offen gestaltet, bietet dieser Raum einen herrlichen Blick über den Genfer See bis hin zum Jura-Gebirge in Frankreich. Die lebendige, natürliche Pflanzenauswahl schafft eine einladende Atmosphäre, in der man gerne bei einem Glas Wein verweilt und die Aussicht genießt.
      <br /><br />
      Der Schlafbereich hingegen ist durch eine geschützte, aber dennoch luftige Gestaltung geprägt. Ohne das Gefühl, sich hinter Mauern zu verstecken, bleibt der Raum privat und behaglich, ideal für Momente der Entspannung und Ruhe, abseits der Stadtblicke.
    
    </p><!-- .wrapper -->

  </div><!-- .wrapper -->

</section><!-- .garden__details -->

<section class="garden_closer">

  <div class="wrapper">

     <div class="item__1 oov">
      {% picture  "geneva/geneva__05.jpg", "Atelier Wehrle – Geneva" %}
    </div>

    <ol class="item__2 credits oov">

      <li>
       <strong>{{ translate[locale].design }}</strong>			<span>Manuel Wehrle</span>
      </li>

      <li>
        <strong>{{ translate[locale].execution }}</strong>			<span>Jacquet SA – Pépinière </span>
      </li>
  
      <li>
        <strong>{{ translate[locale].images }}</strong>			<span>Manuel Wehrle</span>
      </li>

    </ol>

  </div><!-- .wrapper -->

</section><!-- .opener -->