---
date: 2023-09-01
title: Hagen
description: Nordrhein-Westfalen DE – Landschaftsgarten 
featuredImage: hagen/hagen__10.jpg
featuredVideo: hagen/hagen__web.webm
tags: ['posts_de', 'video']
slug: hagen

seoTitle: Hagen
seoDescription: Nordrhein-Westfalen DE – Landschaftsgarten
metaImage: 
---

<section class="opener {{ page.fileSlug }} {{ tags | join(' ') }} lx">

  <div class="wrapper">

    {% picture  "hagen/hagen__10.jpg", "Atelier Wehrle – Hagen" %}

  </div><!-- .wrapper -->

</section><!-- .opener -->


<section class="garden_gllry">

  <ol class="wrapper grd__gllry __imgs">

    <li class="item__ oov">
      {% picture  "hagen/hagen__02.jpg", "Atelier Wehrle – Hagen" %}
    </li>
    
    <li class="item__ oov">
      {% picture  "hagen/hagen__05.jpg", "Atelier Wehrle – Hagen" %}
    </li>

    <li class="item__ oov">
      {% picture  "hagen/hagen__06.jpg", "Atelier Wehrle – Hagen" %}
    </li>

    <li class="item__ oov">
      {% picture  "hagen/hagen__04.jpg", "Atelier Wehrle – Hagen" %}
    </li>
<!--
    <li class="item__ oov">
      <h1 class="bigquote">Lorem Ipsum dolor sit, atem dolor qit</h1>
      <span>Vorname Mustername</span>
    </li>
-->
    <li class="item__ oov">
      {% picture  "hagen/hagen__11.jpg", "Atelier Wehrle – Hagen" %}
    </li>

    <li class="item__ oov">
      {% picture  "hagen/hagen__09.jpg", "Atelier Wehrle – Hagen" %}
    </li>

     <li class="item__ oov">
      {% picture  "hagen/hagen__08.jpg", "Atelier Wehrle – Hagen" %}
    </li>

    <li class="item__ oov">
      {% picture  "hagen/hagen__03.jpg", "Atelier Wehrle – Hagen" %}
    </li>

    <li class="item__ oov">
      {% picture  "hagen/hagen__07.jpg", "Atelier Wehrle – Hagen" %}
    </li>

    <li class="item__ oov">
      {% picture  "hagen/hagen__13.jpg", "Atelier Wehrle – Hagen" %}
    </li>

  </ol><!-- .wrapper -->

</section><!-- .opener -->

<section class="garden__details oov">

  <div class="wrapper">

    <h1 class="h5">Nordrhein-Westfalen DE – Landschaftsgarten</h1>

    <p class="__txt">

      Dieser Landschaftsgarten umschließt ein Landhaus im englischen Jugendstil welches vom Berlin Innenarchitekten Gisbert Pöppler zu neuem Leben erweckt wurde. Das Herzstück des Gartens ist der Schwimmteich, der in eine farbenfrohe Staudenlandschaft eingebettet ist. Besucher können zu jeder Jahreszeit auf breiten Rasenwegen durch ein Meer aus Blüten und summende Insekten wandeln. Dieser Garten ist ein Beispiel dafür, wie man auch im privaten Raum der Natur etwas zurückgeben kann. Der Schwimmteich dient als Rückzugsort und Habitat für Molche, Libellen, Vögel und zahlreiche Insekten. Ein ehemaliges Betonbecken wurde renaturiert und durch einen Wasserlauf mit Trittsteinen an den neuen Schwimmteich angebunden. Weitere Elemente wie ein Gemüsegarten, Rosengarten, Wiesen, ein Waldgarten und ein formal gestalteter Hof runden das Gesamtkonzept ab.
    
    </p><!-- .wrapper -->
  </div><!-- .wrapper -->

</section><!-- .garden__details -->

<section class="garden_closer">

  <div class="wrapper">

     <div class="item__1 oov">
      {% picture  "hagen/hagen__12.jpg", "Atelier Wehrle – Hagen" %}
    </div>

    <ol class="item__2 credits oov">

      <li>
       <strong>{{ translate[locale].design }}</strong>			<span>Manuel Wehrle für die Königliche Gartenakademie</span>
      </li>

      <li>
        <strong>{{ translate[locale].execution }}</strong>			<span>Klute – Garten Eden</span>
      </li>

      <li>
        <strong>{{ translate[locale].images }}</strong>			<span>Vladyslav Pustovit</span>
      </li>

    </ol>

  </div><!-- .wrapper -->

</section><!-- .opener -->