---
date: 2016-07-01
title: Hampton Show
description: Hampton Court Palace UK – Flower Show 
featuredImage: hampton-show/hampton-show__02.jpg
tags: ['posts_de']
slug: hampton-show

seoTitle: Hampton Show
seoDescription: Hampton Court Palace UK – Flower Show 
metaImage: 
---

<section class="opener {{ page.fileSlug }} {{ tags | join(' ') }} lx">

  <div class="wrapper">

    {% picture  "hampton-show/hampton-show__02.jpg", "Atelier Wehrle – Hampton Show" %}

  </div><!-- .wrapper -->

</section><!-- .opener -->

<section class="garden_gllry">

  <ol class="wrapper grd__gllry __imgs">

    <li class="item__ oov">
      {% picture  "hampton-show/hampton-show__01.jpg", "Atelier Wehrle – Hampton Show" %}
    </li>
    
    <li class="item__ oov">
      {% picture  "hampton-show/hampton-show__03.jpg", "Atelier Wehrle – Hampton Show" %}
    </li>

    <li class="item__ oov">
      {% picture  "hampton-show/hampton-show__04.jpg", "Atelier Wehrle – Hampton Show" %}
    </li>

    <li class="item__ oov">
      {% picture  "hampton-show/hampton-show__07.jpg", "Atelier Wehrle – Hampton Show" %}
    </li>

    <li class="item__ oov">
      {% picture  "hampton-show/hampton-show__05.jpg", "Atelier Wehrle – Hampton Show" %}
    </li>


  </ol><!-- .wrapper -->

</section><!-- .garden_gllry -->

<section class="garden__details oov">

  <div class="wrapper">

    <h1 class="h5">Hampton Court Palace UK – Flower Show</h1>

    <p class="__txt">

      Im Jahr 2016 hatte ich die Ehre, zusammen mit meinem guten Freund und Kollegen Jasper Käßmann einen außergewöhnlichen Showgarten für die renommierte Hampton Court Palace Flower Show der Royal Horticultural Society in England zu gestalten. Dieser Garten war dem 400. Todestag des berühmten englischen Dichters William Shakespeare gewidmet und trug das Motto „All the world is a stage“.
      <br /><br />
      Der Garten selbst erzählte eine symbolische Geschichte des Lebenswegs: Zu Beginn erstrahlte er in üppigem Grün und reinen weißen Blüten, die den Anfang des Lebens symbolisierten. Im weiteren Verlauf wandelte sich die Gestaltung hin zu trockenen, kargen Bereichen mit dunklen, fast schwarzen Blüten, die das Ende des Lebens symbolisieren sollten. Diese durchdachte, tiefgründige Gestaltung ließ Besucher in eine visuelle Interpretation von Shakespeares Worten eintauchen.
      <br /><br />
      Der Bau dieses Gartens erstreckte sich über drei Wochen, und während der fünf Ausstellungstage zog er rund 130.000 Besucher in seinen Bann. Für unsere Arbeit wurden wir mit der „Silver Gilt Medal“ ausgezeichnet – eine Bestätigung der kreativen und handwerklichen Qualität, die in den Garten eingeflossen ist.
      <br /><br />
      Dieser Showgarten verdeutlicht, wie Gärten nicht nur visuell beeindrucken, sondern auch tiefere emotionale und philosophische Geschichten erzählen können.    

    </p><!-- .wrapper -->
  </div><!-- .wrapper -->

</section><!-- .garden__details -->

<section class="garden_closer">

  <div class="wrapper">

    <div class="item__1 oov">

      {% picture  "hampton-show/hampton-show__06.jpg", "Atelier Wehrle – Hampton Show" %}

    </div>

    <ol class="item__2 credits oov">

      <li>
       <strong>{{ translate[locale].design }}</strong>			<span>Manuel Wehrle für die Königliche Gartenakademie</span>
      </li>
<!--
      <li>
        <strong>{{ translate[locale].execution }}</strong>			<span>Käding Gartenbau</span>
      </li>
-->
      <li>
        <strong>{{ translate[locale].images }}</strong>			<span>Manuel Wehrle</span>
      </li>

    </ol>

  </div><!-- .wrapper -->

</section><!-- .opener -->