---
date: 2024-04-01
title: Leopoldskron
description: Salzburg – A – Schlossgarten  
featuredImage: leopoldskron/leopoldskron__03.jpg
tags: ['posts_de']
slug: leopoldskron

seoTitle: Leopoldskron
seoDescription: Salzburg – A – Schlossgarten 
metaImage: 
---

<section class="opener {{ page.fileSlug }} {{ tags | join(' ') }} lx">

  <div class="wrapper">

    {% picture  "leopoldskron/leopoldskron__02.jpg", "Atelier Wehrle – Leopoldskron" %}

  </div><!-- .wrapper -->

</section><!-- .opener -->


<section class="garden_gllry">

  <ol class="wrapper grd__gllry __imgs">

    <li class="item__ oov">
      {% picture  "leopoldskron/leopoldskron__03.jpg", "Atelier Wehrle – Leopoldskron" %}
    </li>
    
    <li class="item__ oov">
      {% picture  "leopoldskron/leopoldskron__01.jpg", "Atelier Wehrle – Leopoldskron" %}
    </li>

    <li class="item__ oov">
      {% picture  "leopoldskron/leopoldskron__09.jpg", "Atelier Wehrle – Leopoldskron" %}
    </li>

    <li class="item__ oov">
      {% picture  "leopoldskron/leopoldskron__08.jpg", "Atelier Wehrle – Leopoldskron" %}
    </li>

    <li class="item__ oov">
      <h1 class="bigquote">Lorem Ipsum dolor sit, atem dolor qit</h1>
      <span>Vorname Mustername</span>
    </li>

    <li class="item__ oov">
      {% picture  "leopoldskron/leopoldskron__07.jpg", "Atelier Wehrle – Leopoldskron" %}
    </li>

    <li class="item__ oov">
      {% picture  "leopoldskron/leopoldskron__04.jpg", "Atelier Wehrle – Leopoldskron" %}
    </li>

    <li class="item__ oov">
      {% picture  "leopoldskron/leopoldskron__06.jpg", "Atelier Wehrle – Leopoldskron" %}
    </li>

    <li class="item__ oov">
      {% picture  "leopoldskron/leopoldskron__05.jpg", "Atelier Wehrle – Leopoldskron" %}
    </li>

    <li class="item__ oov">
      {% picture  "leopoldskron/leopoldskron__12.jpg", "Atelier Wehrle – Leopoldskron" %}
    </li>

    <li class="item__ oov">
      {% picture  "leopoldskron/leopoldskron__11.jpg", "Atelier Wehrle – Leopoldskron" %}
    </li>


  </ol><!-- .wrapper -->

</section><!-- .opener -->

<section class="garden__details oov">

  <div class="wrapper">

    <h1 class="h5">Salzburg – A – Schlossgarten</h1>

    <p class="__txt">

      Das Parterre am Schloss Leopoldskron in Salzburg, dem ehemaligen Zuhause von Max Reinhardt, dem Mitbegründer der Salzburger Festspiele, verbindet historische Pracht mit zeitloser Eleganz. Das Schloss, das auch als Schauplatz einer Chanel-Fashion-Show unter Karl Lagerfeld diente, inspirierte mich zur Neugestaltung des Gartens.
      <br /><br />
      Bei der Gestaltung wurde die barocke Architektur des Schlosses aufgegriffen und zeitgemäß neu interpretiert. Statt des monotonen Kiesparterre erblühen nun Rosen und Stauden in lebendigen Farben. Der kranke Buchsbaum wurde durch eine besondere Eibe ersetzt, die dem Garten frische Struktur verleiht. Brunnen und Bänke nach Entwürfen von Manuel Wehrle fügen sich harmonisch in das Gesamtkonzept ein.
      <br /><br />
      Dieser Schlossgarten zeigt, wie Tradition und Moderne auf stilvolle Weise verbunden werden können. Lassen Sie sich von dieser Gestaltung inspirieren und entdecken Sie, wie ein individuell gestalteter Garten Ihre Umgebung bereichern kann.
        
    </p><!-- .wrapper -->
  </div><!-- .wrapper -->

</section><!-- .garden__details -->

<section class="garden_closer">

  <div class="wrapper">

     <div class="item__1 oov">
      {% picture  "leopoldskron/leopoldskron__10.jpg", "Atelier Wehrle – Leopoldskron" %}
    </div>

    <ol class="item__2 credits oov">

      <li>
       <strong>{{ translate[locale].design }}</strong>			<span>Manuel Wehrle für die Königliche Gartenakademie</span>
      </li>
<!--
      <li>
        <strong>{{ translate[locale].execution }}</strong>			<span>Käding Gartenbau</span>
      </li>
-->
      <li>
        <strong>{{ translate[locale].images }}</strong>			<span>Vladyslav Pustovit</span>
      </li>

    </ol>

  </div><!-- .wrapper -->

</section><!-- .opener -->