---
date: 2024-02-01
title: Eichbergstraße
description: Potsdam DE – moderner Villengarten 
featuredImage: eichbergstrasse/eichbergstrasse__12.jpg
tags: ['posts_de']
slug: eichbergstrasse

seoTitle: Eichbergstraße
seoDescription: Potsdam DE – moderner Villengarten 
metaImage: 
---

<section class="opener {{ page.fileSlug }} {{ tags | join(' ') }} lx">

  <div class="wrapper">

    {% picture  "eichbergstrasse/eichbergstrasse__12.jpg", "Atelier Wehrle – Eichbergstrasse" %}

  </div><!-- .wrapper -->

</section><!-- .opener -->


<section class="garden_gllry">

  <ol class="wrapper grd__gllry __imgs">

    <li class="item__ oov">
      {% picture  "eichbergstrasse/eichbergstrasse__04.jpg", "Atelier Wehrle – Eichbergstrasse" %}
    </li>
    
    <li class="item__ oov">
      {% picture  "eichbergstrasse/eichbergstrasse__01.jpg", "Atelier Wehrle – Eichbergstrasse" %}
    </li>

    <li class="item__ oov">
      {% picture  "eichbergstrasse/eichbergstrasse__07.jpg", "Atelier Wehrle – Eichbergstrasse" %}
    </li>

    <li class="item__ oov">
      {% picture  "eichbergstrasse/eichbergstrasse__08.jpg", "Atelier Wehrle – Eichbergstrasse" %}
    </li>

    <li class="item__ oov">
      {% picture  "eichbergstrasse/eichbergstrasse__03.jpg", "Atelier Wehrle – Eichbergstrasse" %}
    </li>

    <li class="item__ oov">
      {% picture  "eichbergstrasse/eichbergstrasse__06.jpg", "Atelier Wehrle – Eichbergstrasse" %}
    </li>
<!-- 
    <li class="item__ oov">
      <h1 class="bigquote">Lorem Ipsum dolor sit, atem dolor qit</h1>
      <span>Vorname Mustername</span>
    </li>

-->
     <li class="item__ oov">
      {% picture  "eichbergstrasse/eichbergstrasse__02.jpg", "Atelier Wehrle – Eichbergstrasse" %}
    </li>

     <li class="item__ oov">
      {% picture  "eichbergstrasse/eichbergstrasse__05.jpg", "Atelier Wehrle – Eichbergstrasse" %}
    </li>

     <li class="item__ oov">
      {% picture  "eichbergstrasse/eichbergstrasse__11.jpg", "Atelier Wehrle – Eichbergstrasse" %}
    </li>

  </ol><!-- .wrapper -->

</section><!-- .opener -->

<section class="garden__details oov">

  <div class="wrapper">

    <h1 class="h5">Potsdam DE – moderner Villengarten</h1>

    <p class="__txt">

      Der ursprüngliche Garten bestand aus einer Rasenfläche, vier Säuleneichen und einem monotonen Efeuhang – dies war der Zustand bevor Manuel Wehrle den Garten ab 2020 grundlegend veränderte und dies nicht nur für das Auge sondern auch um der Natur wieder etwas zurückzugeben. 
      <br><br>
      Die Bewässerung wurde abgeschaltet, um einen nachhaltigen Schritt zu gehen. Anstelle der Rasenwüste erstreckt sich heute eine blühende Streuobstwiese, die Lebensraum für wiesenbrütende Vögel bietet. Der südliche Hang wurde in ein mediterranes Blütenmeer verwandelt, das das ganze Jahr über in Farbenpracht und winterlicher Struktur erstrahlt. Diese Pflanzung ist Atelier Wehrles Antwort auf den Klimawandel, indem widerstandsfähige Pflanzen gewählt wurden.
      <br><br>
      Der Gemüsegarten verbindet Tradition mit Inspiration: traditionelle Bauerngärten, englische „walled gardens“ und der „potager du roi“ in Versailles. Das Obstspalier ist funktional und ein gestalterisches Element, das den Charme dieses Gartens unterstreicht. Hier wurde ein Lebensraum geschaffen, der Tradition, Innovation und Nachhaltigkeit vereint.

    </p><!-- .wrapper -->
  </div><!-- .wrapper -->

</section><!-- .garden__details -->

<section class="garden_closer">

  <div class="wrapper">

     <div class="item__1 oov">
      {% picture  "eichbergstrasse/eichbergstrasse__10.jpg", "Atelier Wehrle – Eichbergstrasse" %}
    </div>

    <ol class="item__2 credits oov">

      <li>
       <strong>{{ translate[locale].design }}</strong>			<span>Manuel Wehrle</span>
      </li>

      <li>
        <strong>{{ translate[locale].execution }}</strong>			<span>GPL – Ingo Kunde</span>
      </li>

      <li>
        <strong>{{ translate[locale].images }}</strong>			<span>Vladyslav Pustovit</span>
      </li>

    </ol>

  </div><!-- .wrapper -->

</section><!-- .opener -->