---
date: 2022-07-01
title: Saint Tropez
description: Saint Tropez – F – Villengarten
featuredImage: atelier-wehrle__05.jpg
tags: ['posts_de']
slug: saint-tropez

seoTitle: Saint Tropez
seoDescription: Saint Tropez – F – Villengarten 
metaImage: 
---

<section class="opener {{ page.fileSlug }} {{ tags | join(' ') }} lx">

  <div class="wrapper">


  </div><!-- .wrapper -->

</section><!-- .opener -->

<section class="garden__details oov">

  <div class="wrapper">

    <h1 class="h5">Saint Tropez – F – Villengarten</h1>

    <p class="__txt">

      Dieser Garten, gelegen im Villenviertel „Les Parcs“ von Saint-Tropez, bleibt aus Gründen der Diskretion nicht gezeigt. Die Gestaltung, reagiert auf die zunehmende Trockenheit und Hitze im mediterranen Raum. Die Rasenfläche wurde deutlich verkleinert und durch einen Kiesgarten mit mediterranen Stauden ersetzt. Nach einer dreijährigen Anwachsphase kommt der Garten auch im Hochsommer ohne Bewässerung aus und bleibt dennoch eine blühende Oase für Mensch und Tier. Diese Gartengestaltung ist eine Antwort auf den Klimawandel und zelebriert gleichzeitig die Kunst und Schönheit der Gartenkultur. 
    
    </p><!-- .wrapper -->
  </div><!-- .wrapper -->

</section><!-- .garden__details -->

<section class="garden_closer">

  <div class="wrapper">

     <div class="item__1 oov">
      
    </div>

    <ol class="item__2 credits oov">

      <li>
       <strong>{{ translate[locale].design }}</strong>			<span>Manuel Wehrle für die Königliche Gartenakademie</span>
      </li>
<!--
      <li>
        <strong>{{ translate[locale].execution }}</strong>			<span>Käding Gartenbau</span>
      </li>
-->
      <li>
        <strong>{{ translate[locale].images }}</strong>			<span>Vladyslav Pustovit</span>
      </li>

    </ol>

  </div><!-- .wrapper -->

</section><!-- .opener -->