---
title: Impressum
permalink: /{{ locale }}/impressum/
layout: "layouts/base.njk"

seoTitle: Impressum
seoDescription: Impressum
metaImage: 
---


<section class="legal">
  <div class="wrapper grd">
    <div class="legal_content">
      <h1 class="h4">Impressum</h1>

      <h2 class="h5">Angaben gem&auml;&szlig; &sect; 5 TMG</h2>
      <p>Atelier Wehrle<br />
      Eichbergstraße 2<br />
      14469 Potsdam</p>

      <p><strong>Vertreten durch:</strong><br />
      Manuel Wehrle</p>

      <h2 class="h5">Kontakt</h2>
      <p>Telefon: {{ site.phone }}<br />
      E-Mail: {{ site.email }}</p>

      <h2 class="h5">Umsatzsteuer-ID</h2>
      <p>Umsatzsteuer-Identifikationsnummer gem&auml;&szlig; &sect; 27 a Umsatzsteuergesetz:<br />
      ???</p>

      <h2 class="h5">EU-Streitschlichtung</h2>
      <p>Die Europ&auml;ische Kommission stellt eine Plattform zur Online-Streitbeilegung (OS) bereit: <a class="link" href="https://ec.europa.eu/consumers/odr/" target="_blank" rel="noopener noreferrer">https://ec.europa.eu/consumers/odr/</a>.<br /> Unsere E-Mail-Adresse finden Sie oben im Impressum.</p>

      <h2 class="h5">Verbraucher&shy;streit&shy;beilegung/Universal&shy;schlichtungs&shy;stelle</h2>
      <p>Wir sind nicht bereit oder verpflichtet, an Streitbeilegungsverfahren vor einer Verbraucherschlichtungsstelle teilzunehmen.</p>
    </div><!-- .legal.content -->
  </div><!-- .wrapper -->

</section><!-- .legal -->
