---
title: Startseite
permalink: /{{ locale }}/index.html
translationKey: "home"

seoTitle: Startseite
seoDescription: 
metaImage: 
---

<section class="">

  <div class="wrapper">

    {%- include "partials/hero_slider.njk" -%}
    
  </div><!-- .wrapper -->

</section>