---
title: Kontakt
permalink: /{{ locale }}/kontakt/
translationKey: "kontakt"

seoTitle: Kontakt
seoDescription: 
metaImage: 
---

<section class="contact">

   <div class="wrapper grd__a">

    <div class="item__1 oov google-maps">
      
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2466.8616168756657!2d13.060738038817385!3d52.42661619316801!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47a8f666cb8578bd%3A0x4ab5704a63684a50!2sEichbergstra%C3%9Fe%202%2C%2014469%20Potsdam!5e0!3m2!1sen!2sde!4v1725637546220!5m2!1sen!2sde" class="map-frame" width="800px" height="800px" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    
    </div><!-- .item__1 -->


    <div class="item__2 oov'">

      <p>
        <strong>Atelier Wehrle GmbH</strong><br /><br />
        Manuel Wehrle<br /><br />
        
       <a class="" href="mailto:{{ site.email }}">{{ site.email }}</a><br />
        atelierwehrle.com

        <br /><br />
        <strong>Office and Headquarters:</strong><br />
        Eichbergstraße 2<br />
        14469 Potsdam<br />
        Deutschland<br /><br />

        <strong>Showroom:</strong><br />
        Via Vorame 64a<br />
        6612 Ascona<br />
        Schweiz
      </p>

    </div><!-- .item__2 -->


    <div class="item__3 oov'">

      <p>
        <strong>Showroom:</strong><br />
        Via Vorame 64a<br />
        6612 Ascona<br />
        Schweiz
      </p>

    </div><!-- .item__3 -->


    <div class="item__4 oov google-maps">

      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3799.3659208306212!2d8.777804797021199!3d46.1570447667672!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4785c8464aa3dbc1%3A0xbb1fb161ed9cc675!2sVia%20Vorame%2064A%2C%206612%20Ascona%2C%20Switzerland!5e0!3m2!1sen!2sde!4v1725638603421!5m2!1sen!2sde" class="map-frame" width="800" height="800" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

    </div><!-- .item__4 -->


  </div><!-- .wrapper -->

</section>
