---
title: Über Manuel
permalink: /{{ locale }}/ueber-manuel/
translationKey: "ueber-manuel"

seoTitle: Über Manuel
seoDescription: 
metaImage: 
---

<section class="opener lax">

  <div class="wrapper">

    {% picture  "bercherhof/bercherhof__02.jpg", "Atelier Wehrle – Bercherhof" %}

  </div><!-- .wrapper -->

</section><!-- .opener -->


<section class="about">

  <div class="wrapper grd__a">

    <div class="item__1 oov">
      <h1 class="h5">Atelier Wehrle</h1>
      <p>
        „Wir nutzen die Kraft der Gartengestaltung, um die bestehende gestalterische Norm herauszufordern, die Wahrheit herauszuarbeiten, den Geist zu öffnen und die Welt um uns herum zu hinterfragen.“<br>
        Atelier Wehrle versteht sich als international agierendes Boutique Gartendesignstudio mit Sitz im Herzen von Potsdam und Ascona (Schweiz).<br><br>
        Menschen wieder in Bezug zur Naturzu bringen und Gärten als selbstverständlichen Teil ihres Seins zu sehen ist für Manuel Wehrle und sein Team Antrieb und Leidenschaft.<br>
        Die Natur erlebt vier Jahreszeiten, die im Garten fühlbar und erlebbar sein sollen.<br>
        Zeit wird greifbar und der Wandel begleitet seinen Besitzer. Eine authentische Beziehung zur Natur definiert Manuel Wehrle als den eigentlichen Luxus unserer Zeit.<br><br>
        Ein Haus und der Garten sind immer auch ein Spiegel einer Persönlichkeit. Den Menschen zu lesen und individuelle kreative Gartenräume zu schaffen stehen immer im Mittelpunkt seines Schaffens.
        Hochwertige Materialien und der Respekt vor ausgezeichnetem Handwerk individuell abgestimmt auf die Bedürfnisse seiner Kunden bestimmen sein Handeln.<br>
        Die Zukunft eines Ortes ist immer auch geprägt von seiner Historie und dem individuellen Nutzungsprofil seiner Kunden.
      </p>

    </div><!-- .item__1 -->

    <div class="item__2 oov">

       {% picture  "bercherhof/bercherhof__02.jpg", "Atelier Wehrle – Bercherhof" %}

    </div><!-- .item__2 -->

    <div class="item__3 oov">

       {% picture  "atelier_wehrle__01.jpg", "Atelier Wehrle – Manuel Wehrle" %}

    </div><!-- .item__3 -->

    <div class="item__4 oov">

       <h1 class="h5">Manuel Wehrle</h1>
      <p>
        Auf einem Bauernhof in 3. Generation mit 3 Geschwistern aufgewachsen, gehören ein grosser Bauerngarten und eine nachhatlige Beziehung zur Natur zu den Wurzeln seiner Person, die ihn geprägt haben und ihn erden lassen für die Herausforderungen seines Schaffens.<br><br>
        International ausgebildet von den besten Gartendesignern der Welt in England, Frankreich, Indien, der Schweiz und Deutschland wurde er mehrfach ausgezeichnet für seine Designs.<br />
        In 2024 sind zwei seiner Gärten zu den besten Gartendesigns in Deutschland, Schweiz, Österreich gewählt worden.<br /><br />
        In einem klimatisch herausfordernden Zeitalter definiert Manuel Wehrle seine Arbeit als Verantwortung gegenüber den natürlichen Resourcen.<br /><br />
        Das Glück des Menschen ist untrennbar von seiner Verbindung zur Natur.
      </p>

    </div><!-- .item__4 -->

  </div><!-- .wrapper -->

</section><!-- .about -->


<section class="quote">

  <div class="wrapper grd__b">

    <div class="item__1 oov">
      
      <h1 class="bigquote">Lorem Ipsum dolor sit, atem dolor qit</h1>
      <span>Vorname Mustername</span>

    </div><!-- .item__1 -->

  </div><!-- .wrapper -->

</section><!-- .quote -->


<section class="awards">

  <div class="wrapper">
    <h1 class="h6 oov">{{ translate[locale].award }}</h1>
    <ol class="award_list">
      
      <li class="item__1 oov">
        {% picture  "atelier-wehrle_award__1.png", "Atelier Wehrle – Award" %}
      </li>

    </ol><!-- .awards -->

  </div><!-- .wrapper -->

</section><!-- .awards -->