/* poppins-200 - latin */
@font-face 
  font-display: swap 
  font-family: 'Poppins'
  font-style: normal
  font-weight: 200
  src: url('assets/fonts/poppins-v21-latin-200.woff2') format('woff2') 

/* poppins-200italic - latin */
@font-face 
  font-display: swap 
  font-family: 'Poppins'
  font-style: italic
  font-weight: 200
  src: url('assets/fonts/poppins-v21-latin-200italic.woff2') format('woff2') 

/* poppins-regular - latin */
@font-face 
  font-display: swap 
  font-family: 'Poppins'
  font-style: normal
  font-weight: 400
  src: url('assets/fonts/poppins-v21-latin-regular.woff2') format('woff2') 

/* poppins-italic - latin */
@font-face 
  font-display: swap 
  font-family: 'Poppins'
  font-style: italic
  font-weight: 400
  src: url('assets/fonts/poppins-v21-latin-italic.woff2') format('woff2') 

/* poppins-600 - latin */
@font-face 
  font-display: swap 
  font-family: 'Poppins'
  font-style: normal
  font-weight: 600
  src: url('assets/fonts/poppins-v21-latin-600.woff2') format('woff2') 


@font-face 
  /* Adobe fonts Nicholas Cochin > Quote Type*/
  font-family: "ltc-nicholas-cochin-pro", sans-serif
  font-weight: 400
  font-style: normal



@mixin font__light
  font-family: 'Poppins'
  font-style: normal
  font-weight: 200

@mixin font__light_italic
  font-family: 'Poppins'
  font-style: italic
  font-weight: 200

@mixin font__regular
  font-family: 'Poppins'
  font-style: normal
  font-weight: 400

@mixin font__italic
  font-family: 'Poppins'
  font-style: italic
  font-weight: 400

@mixin font__bold
  font-family: 'Poppins'
  font-style: normal
  font-weight: 600

@mixin font__code
  font-family: 'Poppins'
  font-style: italic
  font-weight: 400

@mixin font__pre
  font-family: 'Poppins'
  font-style: italic
  font-weight: 200

$font__light: 'Poppins', sans-serif, 200, normal
$font__regular: 'Poppins', sans-serif
$font__italic: 'Poppins', sans-serif
$font__bold: 'Poppins', sans-serif
$font__code: 'Poppins', sans-serif
$font__pre: 'Poppins', sans-serif
$font__quote: 'ltc-nicholas-cochin-pro', sans-serif
