  {%- include "partials/head.njk" -%}

  {%- include "partials/svg_icons.njk" -%}

  <body>

    {%- include "partials/googleTagManager.njk" -%}

    {%- include "partials/header.njk" -%}

    <main>
      
      {{ content | safe }}

    </main>

    {%- include "partials/footer.njk" -%}

    {% if vite.js %}
    <script type="module" src="/{{ vite.js }}" defer></script>
    {% endif %}

  </body>
</html>
