---
title: Privacy Policy

seoTitle: "Privacy Policy"
seoDescription: "Information about data privacy at Atelier Wehrle."
metaImage:
noindex: true
---

<section class="legal">
  <div class="wrapper grd">
    <div class="legal_content">
      <h1 class="h4">Privacy Policy</h1>
      <h2 class="h5">1. An overview of data protection</h2>
      <h3 class="h6">General information</h3>
      <p>The following information will provide you with an easy to navigate overview of what will happen with your personal
      data when you visit this website. The term &ldquo;personal data&rdquo; comprises all data that can be used to
      personally identify you. For detailed information about the subject matter of data protection, please consult our
      Data Protection Declaration, which we have included beneath this copy.</p>
      <h3 class="h6">Data recording on this website</h3>
      <h4 class="h6">Who is the responsible party for the recording of data on this website (i.e., the &ldquo;controller&rdquo;)?</h4>
      <p>The data on this website is processed by the operator of the website, whose contact information is available under
      section &ldquo;Information about the responsible party (referred to as the &ldquo;controller&rdquo; in the
      GDPR)&rdquo; in this Privacy Policy.</p>
      <h4 class="h6">How do we record your data?</h4>
      <p>We collect your data as a result of your sharing of your data with us. This may, for instance be information you
      enter into our contact form.</p>
      <p>Other data shall be recorded by our IT systems automatically or after you consent to its recording during your
      website visit. This data comprises primarily technical information (e.g., web browser, operating system, or time the
      site was accessed). This information is recorded automatically when you access this website.</p>
      <h4 class="h6">What are the purposes we use your data for?</h4>
      <p>A portion of the information is generated to guarantee the error free provision of the website. Other data may be
      used to analyze your user patterns. If contracts can be concluded or initiated via the website, the transmitted data
      will also be processed for contract offers, orders or other order enquiries.</p>
      <h4 class="h6">What rights do you have as far as your information is concerned?</h4>
      <p>You have the right to receive information about the source, recipients, and purposes of your archived personal data
      at any time without having to pay a fee for such disclosures. You also have the right to demand that your data are
      rectified or eradicated. If you have consented to data processing, you have the option to revoke this consent at any
      time, which shall affect all future data processing. Moreover, you have the right to demand that the processing of
      your data be restricted under certain circumstances. Furthermore, you have the right to log a complaint with the
      competent supervising agency.</p>
      <p>Please do not hesitate to contact us at any time if you have questions about this or any other data protection
      related issues.</p>
      <h3 class="h6">Analysis tools and tools provided by third parties</h3>
      <p>There is a possibility that your browsing patterns will be statistically analyzed when your visit this website. Such
      analyses are performed primarily with what we refer to as analysis programs.</p>
      <p>For detailed information about these analysis programs please consult our Data Protection Declaration below.</p>
      <h2 class="h5">2. Hosting</h2>
      <p>We are hosting the content of our website at the following provider:</p>
      <h3 class="h6">External Hosting</h3>
      <p>This website is hosted externally. Personal data collected on this website are stored on the servers of the host.
      These may include, but are not limited to, IP addresses, contact requests, metadata and communications, contract
      information, contact information, names, web page access, and other data generated through a web site.</p>
      <p>The external hosting serves the purpose of fulfilling the contract with our potential and existing customers (Art.
      6(1)(b) GDPR) and in the interest of secure, fast, and efficient provision of our online services by a professional
      provider (Art. 6(1)(f) GDPR). If appropriate consent has been obtained, the processing is carried out exclusively on
      the basis of Art. 6 (1)(a) GDPR and &sect; 25 (1) TDDDG, insofar the consent includes the storage of cookies or the
      access to information in the user's end device (e.g., device fingerprinting) within the meaning of the TDDDG. This
      consent can be revoked at any time.</p>
      <p>Our host(s) will only process your data to the extent necessary to fulfil its performance obligations and to follow
      our instructions with respect to such data.</p>
      <p>We are using the following host(s):</p>
      <p>Netlify, Inc.<br>
      2325 3rd Street, Suite 296,<br>
      San Francisco, California 94107<br>
      <br>
      EU- und UK-Vertreter:<br>
      VeraSafe Ireland Ltd.<br>
      Unit 3D North Point House<br>
      North Point Business Park<br>
      New Mallow Road<br>
      Cork T23AT2P<br>
      Ireland
      </p>
      <h4 class="h6">Data processing</h4>
      <p>We have concluded a data processing agreement (DPA) for the use of the above-mentioned service. This is a contract
      mandated by data privacy laws that guarantees that they process personal data of our website visitors only based on
      our instructions and in compliance with the GDPR.</p>
      <h2 class="h5">3. General information and mandatory information</h2>
      <h3 class="h6">Data protection</h3>
      <p>The operators of this website and its pages take the protection of your personal data very seriously. Hence, we
      handle your personal data as confidential information and in compliance with the statutory data protection
      regulations and this Data Protection Declaration.</p>
      <p>Whenever you use this website, a variety of personal information will be collected. Personal data comprises data that
      can be used to personally identify you. This Data Protection Declaration explains which data we collect as well as
      the purposes we use this data for. It also explains how, and for which purpose the information is collected.</p>
      <p>We herewith advise you that the transmission of data via the Internet (i.e., through e-mail communications) may be
      prone to security gaps. It is not possible to completely protect data against third-party access.</p>
      <h3 class="h6">Information about the responsible party (referred to as the &ldquo;controller&rdquo; in the GDPR)</h3>
      <p>The data processing controller on this website is:</p>
      <p>Atelier Wehrle<br />
      Eichbergstra&szlig;e 2<br />
      14469 Potsdam</p>

      <p>Phone: {{ site.phone }}<br />
      E-mail: {{ site.email }}</p>
      <p>The controller is the natural person or legal entity that single-handedly or jointly with others makes decisions as
      to the purposes of and resources for the processing of personal data (e.g., names, e-mail addresses, etc.).</p>

      <h3 class="h6">Storage duration</h3>
      <p>Unless a more specific storage period has been specified in this privacy policy, your personal data will remain with
      us until the purpose for which it was collected no longer applies. If you assert a justified request for deletion or
      revoke your consent to data processing, your data will be deleted, unless we have other legally permissible reasons
      for storing your personal data (e.g., tax or commercial law retention periods); in the latter case, the deletion
      will take place after these reasons cease to apply.</p>
      <h3 class="h6">General information on the legal basis for the data processing on this website</h3>
      <p>If you have consented to data processing, we process your personal data on the basis of Art. 6(1)(a) GDPR or Art. 9
      (2)(a) GDPR, if special categories of data are processed according to Art. 9 (1) DSGVO. In the case of explicit
      consent to the transfer of personal data to third countries, the data processing is also based on Art. 49 (1)(a)
      GDPR. If you have consented to the storage of cookies or to the access to information in your end device (e.g., via
      device fingerprinting), the data processing is additionally based on &sect; 25 (1) TDDDG. The consent can be revoked
      at any time. If your data is required for the fulfillment of a contract or for the implementation of pre-contractual
      measures, we process your data on the basis of Art. 6(1)(b) GDPR. Furthermore, if your data is required for the
      fulfillment of a legal obligation, we process it on the basis of Art. 6(1)(c) GDPR. Furthermore, the data processing
      may be carried out on the basis of our legitimate interest according to Art. 6(1)(f) GDPR. Information on the
      relevant legal basis in each individual case is provided in the following paragraphs of this privacy policy.</p>
      <h3 class="h6">Recipients of personal data</h3>
      <p>In the scope of our business activities, we cooperate with various external parties. In some cases, this also
      requires the transfer of personal data to these external parties. We only disclose personal data to external parties
      if this is required as part of the fulfillment of a contract, if we are legally obligated to do so (e.g., disclosure
      of data to tax authorities), if we have a legitimate interest in the disclosure pursuant to Art. 6 (1)(f) GDPR, or
      if another legal basis permits the disclosure of this data. When using processors, we only disclose personal data of
      our customers on the basis of a valid contract on data processing. In the case of joint processing, a joint
      processing agreement is concluded.</p>
      <h3 class="h6">Revocation of your consent to the processing of data</h3>
      <p>A wide range of data processing transactions are possible only subject to your express consent. You can also revoke
      at any time any consent you have already given us. This shall be without prejudice to the lawfulness of any data
      collection that occurred prior to your revocation.</p>
      <h3 class="h6">Right to object to the collection of data in special cases; right to object to direct advertising (Art. 21 GDPR)
      </h3>
      <p>IN THE EVENT THAT DATA ARE PROCESSED ON THE BASIS OF ART. 6(1)(E) OR (F) GDPR, YOU HAVE THE RIGHT TO AT ANY TIME
      OBJECT TO THE PROCESSING OF YOUR PERSONAL DATA BASED ON GROUNDS ARISING FROM YOUR UNIQUE SITUATION. THIS ALSO
      APPLIES TO ANY PROFILING BASED ON THESE PROVISIONS. TO DETERMINE THE LEGAL BASIS, ON WHICH ANY PROCESSING OF DATA IS
      BASED, PLEASE CONSULT THIS DATA PROTECTION DECLARATION. IF YOU LOG AN OBJECTION, WE WILL NO LONGER PROCESS YOUR
      AFFECTED PERSONAL DATA, UNLESS WE ARE IN A POSITION TO PRESENT COMPELLING PROTECTION WORTHY GROUNDS FOR THE
      PROCESSING OF YOUR DATA, THAT OUTWEIGH YOUR INTERESTS, RIGHTS AND FREEDOMS OR IF THE PURPOSE OF THE PROCESSING IS
      THE CLAIMING, EXERCISING OR DEFENCE OF LEGAL ENTITLEMENTS (OBJECTION PURSUANT TO ART. 21(1) GDPR).</p>
      <p>IF YOUR PERSONAL DATA IS BEING PROCESSED IN ORDER TO ENGAGE IN DIRECT ADVERTISING, YOU HAVE THE RIGHT TO OBJECT TO
      THE PROCESSING OF YOUR AFFECTED PERSONAL DATA FOR THE PURPOSES OF SUCH ADVERTISING AT ANY TIME. THIS ALSO APPLIES TO
      PROFILING TO THE EXTENT THAT IT IS AFFILIATED WITH SUCH DIRECT ADVERTISING. IF YOU OBJECT, YOUR PERSONAL DATA WILL
      SUBSEQUENTLY NO LONGER BE USED FOR DIRECT ADVERTISING PURPOSES (OBJECTION PURSUANT TO ART. 21(2) GDPR).</p>
      <h3 class="h6">Right to log a complaint with the competent supervisory agency</h3>
      <p>In the event of violations of the GDPR, data subjects are entitled to log a complaint with a supervisory agency, in
      particular in the member state where they usually maintain their domicile, place of work or at the place where the
      alleged violation occurred. The right to log a complaint is in effect regardless of any other administrative or
      court proceedings available as legal recourses.</p>
      <h3 class="h6">Right to data portability</h3>
      <p>You have the right to have data that we process automatically on the basis of your consent or in fulfillment of a
      contract handed over to you or to a third party in a common, machine-readable format. If you should demand the
      direct transfer of the data to another controller, this will be done only if it is technically feasible.</p>
      <h3 class="h6">Information about, rectification and eradication of data</h3>
      <p>Within the scope of the applicable statutory provisions, you have the right to demand information about your archived
      personal data, their source and recipients as well as the purpose of the processing of your data at any time. You
      may also have a right to have your data rectified or eradicated. If you have questions about this subject matter or
      any other questions about personal data, please do not hesitate to contact us at any time.</p>
      <h3 class="h6">Right to demand processing restrictions</h3>
      <p>You have the right to demand the imposition of restrictions as far as the processing of your personal data is
      concerned. To do so, you may contact us at any time. The right to demand restriction of processing applies in the
      following cases:</p>
      <ul>
      <li>In the event that you should dispute the correctness of your data archived by us, we will usually need some time
            to verify this claim. During the time that this investigation is ongoing, you have the right to demand that we
            restrict the processing of your personal data.</li>
      <li>If the processing of your personal data was/is conducted in an unlawful manner, you have the option to demand
            the restriction of the processing of your data instead of demanding the eradication of this data.</li>
      <li>If we do not need your personal data any longer and you need it to exercise, defend or claim legal entitlements,
            you have the right to demand the restriction of the processing of your personal data instead of its eradication.
      </li>
      <li>If you have raised an objection pursuant to Art. 21(1) GDPR, your rights and our rights will have to be weighed
            against each other. As long as it has not been determined whose interests prevail, you have the right to demand
            a restriction of the processing of your personal data.</li>
      </ul>
      <p>If you have restricted the processing of your personal data, these data &ndash; with the exception of their archiving
      &ndash; may be processed only subject to your consent or to claim, exercise or defend legal entitlements or to
      protect the rights of other natural persons or legal entities or for important public interest reasons cited by the
      European Union or a member state of the EU.</p>
      <h3 class="h6">SSL and/or TLS encryption</h3>
      <p>For security reasons and to protect the transmission of confidential content, such as purchase orders or inquiries
      you submit to us as the website operator, this website uses either an SSL or a TLS encryption program. You can
      recognize an encrypted connection by checking whether the address line of the browser switches from
      &ldquo;http://&rdquo; to &ldquo;https://&rdquo; and also by the appearance of the lock icon in the browser line.</p>
      <p>If the SSL or TLS encryption is activated, data you transmit to us cannot be read by third parties.</p>
      <h3 class="h6">Rejection of unsolicited e-mails</h3>
      <p>We herewith object to the use of contact information published in conjunction with the mandatory information to be
      provided in our Site Notice to send us promotional and information material that we have not expressly requested.
      The operators of this website and its pages reserve the express right to take legal action in the event of the
      unsolicited sending of promotional information, for instance via SPAM messages.</p>
      <h2 class="h5">4. Recording of data on this website</h2>
      <h3 class="h6">Cookies</h3>
      <p>Our websites and pages use what the industry refers to as &ldquo;cookies.&rdquo; Cookies are small data packages that
      do not cause any damage to your device. They are either stored temporarily for the duration of a session (session
      cookies) or they are permanently archived on your device (permanent cookies). Session cookies are automatically
      deleted once you terminate your visit. Permanent cookies remain archived on your device until you actively delete
      them, or they are automatically eradicated by your web browser.</p>
      <p>Cookies can be issued by us (first-party cookies) or by third-party companies (so-called third-party cookies).
      Third-party cookies enable the integration of certain services of third-party companies into websites (e.g., cookies
      for handling payment services).</p>
      <p>Cookies have a variety of functions. Many cookies are technically essential since certain website functions would not
      work in the absence of these cookies (e.g., the shopping cart function or the display of videos). Other cookies may
      be used to analyze user behavior or for promotional purposes.</p>
      <p>Cookies, which are required for the performance of electronic communication transactions, for the provision of
      certain functions you want to use (e.g., for the shopping cart function) or those that are necessary for the
      optimization (required cookies) of the website (e.g., cookies that provide measurable insights into the web
      audience), shall be stored on the basis of Art. 6(1)(f) GDPR, unless a different legal basis is cited. The operator
      of the website has a legitimate interest in the storage of required cookies to ensure the technically error-free and
      optimized provision of the operator&rsquo;s services. If your consent to the storage of the cookies and similar
      recognition technologies has been requested, the processing occurs exclusively on the basis of the consent obtained
      (Art. 6(1)(a) GDPR and &sect; 25 (1) TDDDG); this consent may be revoked at any time.</p>
      <p>You have the option to set up your browser in such a manner that you will be notified any time cookies are placed and
      to permit the acceptance of cookies only in specific cases. You may also exclude the acceptance of cookies in
      certain cases or in general or activate the delete-function for the automatic eradication of cookies when the
      browser closes. If cookies are deactivated, the functions of this website may be limited.</p>
      <p>Which cookies and services are used on this website can be found in this privacy policy.</p>
      <h3 class="h6">CCM19</h3>
      <p>Our website uses CCM19 to obtain your consent for the storage of certain cookies on your device or for the use of
      specific technologies and to document the former in a data protection compliant manner. The provider of this
      technology is Papoo Software &amp; Media GmbH, Auguststr. 4, 53229 Bonn, Germany (hereinafter referred to as
      &ldquo;CCM19&rdquo;).</p>
      <p>When you access our website, a connection with the servers of CCM19 is established to obtain your consent and other
      declarations related to the use of cookies. Subsequently, CCM19 will store a cookie in your browser to be able to
      allocate the granted consent or revocation. The data generated using this system will be archived by us until you
      ask us to delete it, delete the CCM19 cookie yourself or the purpose for the archiving of the data no longer
      applies. This shall be without prejudice to any mandatory statutory archiving periods.</p>
      <p>We use CCM19 to obtain the consent mandated by law for the use of cookies. The legal basis for this is Art.6
      (1)(1)(f) GDPR.</p>
      <h4 class="h6">Data processing</h4>
      <p>We have concluded a data processing agreement (DPA) for the use of the above-mentioned service. This is a contract
      mandated by data privacy laws that guarantees that they process personal data of our website visitors only based on
      our instructions and in compliance with the GDPR.</p>
      <h3 class="h6">Server log files</h3>
      <p>The provider of this website and its pages automatically collects and stores information in so-called server log
      files, which your browser communicates to us automatically. The information comprises:</p>
      <ul>
      <li>The type and version of browser used</li>
      <li>The used operating system</li>
      <li>Referrer URL</li>
      <li>The hostname of the accessing computer</li>
      <li>The time of the server inquiry</li>
      <li>The IP address</li>
      </ul>
      <p>This data is not merged with other data sources.</p>
      <p>This data is recorded on the basis of Art. 6(1)(f) GDPR. The operator of the website has a legitimate interest in the
      technically error free depiction and the optimization of the operator&rsquo;s website. In order to achieve this,
      server log files must be recorded.</p>
      <h3 class="h6">Contact form</h3>
      <p>If you submit inquiries to us via our contact form, the information provided in the contact form as well as any
      contact information provided therein will be stored by us in order to handle your inquiry and in the event that we
      have further questions. We will not share this information without your consent.</p>
      <p>The processing of these data is based on Art. 6(1)(b) GDPR, if your request is related to the execution of a contract
      or if it is necessary to carry out pre-contractual measures. In all other cases the processing is based on our
      legitimate interest in the effective processing of the requests addressed to us (Art. 6(1)(f) GDPR) or on your
      agreement (Art. 6(1)(a) GDPR) if this has been requested; the consent can be revoked at any time.</p>
      <p>The information you have entered into the contact form shall remain with us until you ask us to eradicate the data,
      revoke your consent to the archiving of data or if the purpose for which the information is being archived no longer
      exists (e.g., after we have concluded our response to your inquiry). This shall be without prejudice to any
      mandatory legal provisions, in particular retention periods.</p>
      <h3 class="h6">Request by e-mail, telephone, or fax</h3>
      <p>If you contact us by e-mail, telephone or fax, your request, including all resulting personal data (name, request)
      will be stored and processed by us for the purpose of processing your request. We do not pass these data on without
      your consent.</p>
      <p>These data are processed on the basis of Art. 6(1)(b) GDPR if your inquiry is related to the fulfillment of a
      contract or is required for the performance of pre-contractual measures. In all other cases, the data are processed
      on the basis of our legitimate interest in the effective handling of inquiries submitted to us (Art. 6(1)(f) GDPR)
      or on the basis of your consent (Art. 6(1)(a) GDPR) if it has been obtained; the consent can be revoked at any time.
      </p>
      <p>The data sent by you to us via contact requests remain with us until you request us to delete, revoke your consent to
      the storage or the purpose for the data storage lapses (e.g. after completion of your request). Mandatory statutory
      provisions - in particular statutory retention periods - remain unaffected.</p>
      <h2 class="h5">5. Analysis tools and advertising</h2>
      <h3 class="h6">Google Tag Manager</h3>
      <p>We use the Google Tag Manager. The provider is Google Ireland Limited, Gordon House, Barrow Street, Dublin 4, Ireland
      </p>
      <p>The Google Tag Manager is a tool that allows us to integrate tracking or statistical tools and other technologies on
      our website. The Google Tag Manager itself does not create any user profiles, does not store cookies, and does not
      carry out any independent analyses. It only manages and runs the tools integrated via it. However, the Google Tag
      Manager does collect your IP address, which may also be transferred to Google&rsquo;s parent company in the United
      States.</p>
      <p>The Google Tag Manager is used on the basis of Art. 6(1)(f) GDPR. The website operator has a legitimate interest in
      the quick and uncomplicated integration and administration of various tools on his website. If appropriate consent
      has been obtained, the processing is carried out exclusively on the basis of Art. 6(1)(a) GDPR and &sect; 25 (1)
      TDDDG, insofar the consent includes the storage of cookies or the access to information in the user&rsquo;s end
      device (e.g., device fingerprinting) within the meaning of the TDDDG. This consent can be revoked at any time.</p>
      <p>The company is certified in accordance with the &ldquo;EU-US Data Privacy Framework&rdquo; (DPF). The DPF is an
      agreement between the European Union and the US, which is intended to ensure compliance with European data
      protection standards for data processing in the US. Every company certified under the DPF is obliged to comply with
      these data protection standards. For more information, please contact the provider under the following link: <a
            href="https://www.dataprivacyframework.gov/participant/5780" target="_blank"
            rel="noopener noreferrer">https://www.dataprivacyframework.gov/participant/5780</a>.</p>
      <h3 class="h6">Google Analytics</h3>
      <p>This website uses functions of the web analysis service Google Analytics. The provider of this service is Google
      Ireland Limited (&ldquo;Google&rdquo;), Gordon House, Barrow Street, Dublin 4, Ireland.</p>
      <p>Google Analytics enables the website operator to analyze the behavior patterns of website visitors. To that end, the
      website operator receives a variety of user data, such as pages accessed, time spent on the page, the utilized
      operating system and the user&rsquo;s origin. This data is assigned to the respective end device of the user. An
      assignment to a user-ID does not take place.</p>
      <p>Furthermore, Google Analytics allows us to record your mouse and scroll movements and clicks, among other things.
      Google Analytics uses various modeling approaches to augment the collected data sets and uses machine learning
      technologies in data analysis.</p>
      <p>Google Analytics uses technologies that make the recognition of the user for the purpose of analyzing the user
      behavior patterns (e.g., cookies or device fingerprinting). The website use information recorded by Google is, as a
      rule transferred to a Google server in the United States, where it is stored.</p>
      <p>The use of these services occurs on the basis of your consent pursuant to Art. 6(1)(a) GDPR and &sect; 25(1) TDDDG.
      You may revoke your consent at any time.</p>
      <p>Data transmission to the US is based on the Standard Contractual Clauses (SCC) of the European Commission. Details
      can be found here: <a href="https://privacy.google.com/businesses/controllerterms/mccs/" target="_blank"
            rel="noopener noreferrer">https://privacy.google.com/businesses/controllerterms/mccs/</a>.</p>
      <p>The company is certified in accordance with the &ldquo;EU-US Data Privacy Framework&rdquo; (DPF). The DPF is an
      agreement between the European Union and the US, which is intended to ensure compliance with European data
      protection standards for data processing in the US. Every company certified under the DPF is obliged to comply with
      these data protection standards. For more information, please contact the provider under the following link: <a
            href="https://www.dataprivacyframework.gov/participant/5780" target="_blank"
            rel="noopener noreferrer">https://www.dataprivacyframework.gov/participant/5780</a>.</p>
      <h4 class="h6">IP anonymization</h4>
      <p>Google Analytics IP anonymization is active. As a result, your IP address will be abbreviated by Google within the
      member states of the European Union or in other states that have ratified the Convention on the European Economic
      Area prior to its transmission to the United States. The full IP address will be transmitted to one of
      Google&rsquo;s servers in the United States and abbreviated there only in exceptional cases. On behalf of the
      operator of this website, Google shall use this information to analyze your use of this website to generate reports
      on website activities and to render other services to the operator of this website that are related to the use of
      the website and the Internet. The IP address transmitted in conjunction with Google Analytics from your browser
      shall not be merged with other data in Google&rsquo;s possession.</p>
      <h4 class="h6">Browser plug-in</h4>
      <p>You can prevent the recording and processing of your data by Google by downloading and installing the browser plugin
      available under the following link: <a href="https://tools.google.com/dlpage/gaoptout?hl=en" target="_blank"
            rel="noopener noreferrer">https://tools.google.com/dlpage/gaoptout?hl=en</a>.</p>
      <p>For more information about the handling of user data by Google Analytics, please consult Google&rsquo;s Data Privacy
      Declaration at: <a href="https://support.google.com/analytics/answer/6004245?hl=en" target="_blank"
            rel="noopener noreferrer">https://support.google.com/analytics/answer/6004245?hl=en</a>.</p>
      <h4 class="h6">Contract data processing</h4>
      <p>We have executed a contract data processing agreement with Google and are implementing the stringent provisions of
      the German data protection agencies to the fullest when using Google Analytics.</p>
      <h2 class="h5">6. Social media presences</h2>

      <p>We maintain publicly accessible profiles on social networks. We currently link to Instagram, Pinterest, and LinkedIn.</p>

      <p>When you visit our social media profiles or interact with us via these platforms, personal data is processed by the respective platform operator. This applies in particular if you are logged into the respective platform. We have only limited influence over the nature and scope of the processing carried out by the platform operators.</p>

      <p>We ourselves process personal data when you interact with our profiles, for example by commenting on posts, sending messages, sharing content, or reacting to our posts. The processing is carried out for the purpose of communicating with interested parties, customers, and business partners, for public relations, and for presenting our services.</p>

      <p>The legal basis is Art. 6 (1) (f) GDPR. Our legitimate interest lies in an appropriate public presentation of our company and in communicating with users of the respective platforms. If your inquiry is aimed at entering into or performing a contract, the processing is carried out on the basis of Art. 6 (1) (b) GDPR.</p>

      <p>The platform operators may analyze your usage behavior and use the data collected in the process for market research, advertising, personalized content, statistical evaluations, and their own business purposes. In this context, profiles may also be created regarding your usage behavior. Please refer to the privacy notices of the respective providers for the relevant purposes, legal bases, storage periods, and options to object.</p>

      <p>Insofar as the platform operators provide us with statistical evaluations on the use of our profiles, for example reach, interactions, or demographic evaluations, we generally receive this information only in aggregated form. As a rule, it is not possible for us to identify individual users on the basis of these statistics.</p>

      <p>For certain processing operations in connection with page insights, page statistics, or comparable evaluations, joint controllership within the meaning of Art. 26 GDPR may exist between us and the respective platform operator. Details are set out in the agreements on joint controllership provided by the platform operators.</p>

      <p>As a rule, you may assert your data subject rights both against us and against the respective platform operator. Since the respective platform operator generally has direct access to user data, we recommend that you primarily address requests directly to the respective platform operator.</p>

      <p>We delete the data processed by us in the context of social media communication as soon as the purpose of storage no longer applies, you request deletion, or you object to the processing, unless statutory retention obligations or legitimate grounds for further storage prevent deletion. Publicly visible comments or interactions remain visible on the respective platform until you delete them yourself or the platform removes them.</p>

      <p>The operators of social networks may transfer personal data to countries outside the European Union or the European Economic Area, in particular to the United States. Further information can be found in the privacy notices of the respective providers.</p>

      <h3 class="h6">Instagram</h3>
      <p>The provider is Meta Platforms Ireland Limited, Merrion Road, Dublin 4, D04 X2K5, Ireland.</p>
      <p>Joint controllership with Meta may exist for Page Insights. The agreement on joint controllership can be viewed here:</br>
      <a href="https://www.facebook.com/legal/terms/page_controller_addendum" target="_blank" rel="noopener noreferrer">https://www.facebook.com/legal/terms/page_controller_addendum</a></p>
      <p>Information on the data used for Page Insights can be found here:</br>
      <a href="https://www.facebook.com/legal/terms/information_about_page_insights_data" target="_blank" rel="noopener noreferrer">https://www.facebook.com/legal/terms/information_about_page_insights_data</a></p>
      <p>You can find Instagram/Meta's privacy notice here:</br>
      <a href="https://privacycenter.instagram.com/policy" target="_blank" rel="noopener noreferrer">https://privacycenter.instagram.com/policy</a></p>

      <h3 class="h6">Facebook</h3>
      <p>The provider is Meta Platforms Ireland Limited, Merrion Road, Dublin 4, D04 X2K5, Ireland.</p>
      <p>Joint controllership with Meta may exist for Page Insights. The agreement on joint controllership can be viewed here:</br>
      <a href="https://www.facebook.com/legal/terms/page_controller_addendum" target="_blank" rel="noopener noreferrer">https://www.facebook.com/legal/terms/page_controller_addendum</a></p>
      <p>Information on the data used for Page Insights can be found here:</br>
      <a href="https://www.facebook.com/legal/terms/information_about_page_insights_data" target="_blank" rel="noopener noreferrer">https://www.facebook.com/legal/terms/information_about_page_insights_data</a></p>
      <p>You can find Facebook/Meta's privacy notice here:</br>
      <a href="https://www.facebook.com/privacy/policy/" target="_blank" rel="noopener noreferrer">https://www.facebook.com/privacy/policy/</a></p>

      <h3 class="h6">Pinterest</h3>
      <p>The provider is Pinterest Europe Ltd., Waterloo Exchange, 3rd Floor, Waterloo Road, Dublin 4, Ireland.</p>
      <p>Information on the processing of personal data by Pinterest can be found in Pinterest's privacy policy:</br>
      <a href="https://policy.pinterest.com/de/privacy-policy" target="_blank" rel="noopener noreferrer">https://policy.pinterest.com/de/privacy-policy</a></p>
      <p>Insofar as we use Pinterest advertising services, the Pinterest Tag, a Pinterest API, or comparable ad data functions, supplementary Pinterest terms may apply, in particular regarding joint controllership for certain processing operations:</br>
      <a href="https://business.pinterest.com/en-gb/pinterest-advertising-services-agreement/rest-of-emea/" target="_blank" rel="noopener noreferrer">https://business.pinterest.com/en-gb/pinterest-advertising-services-agreement/rest-of-emea/</a></p>

      <h3 class="h6">LinkedIn</h3>
      <p>The provider is LinkedIn Ireland Unlimited Company, Wilton Place, Dublin 2, Ireland.</p>
      <p>Joint controllership with LinkedIn may exist for page statistics. The Page Insights Joint Controller Addendum can be viewed here:</br>
      <a href="https://legal.linkedin.com/pages-joint-controller-addendum" target="_blank" rel="noopener noreferrer">https://legal.linkedin.com/pages-joint-controller-addendum</a></p>
      <p>You can find LinkedIn's privacy policy here:</br>
      <a href="https://www.linkedin.com/legal/privacy-policy" target="_blank" rel="noopener noreferrer">https://www.linkedin.com/legal/privacy-policy</a></p>

      <h2 class="h5">7. Plug-ins and Tools</h2>
      <h3 class="h6">Adobe Fonts</h3>
      <p>In order to ensure the uniform depiction of certain fonts, this website uses fonts called Adobe Fonts provided by
      Adobe Systems Incorporated, 345 Park Avenue, San Jose, CA 95110-2704, USA (Adobe).</p>
      <p>When you access pages of this website, your browser will automatically load the required fonts directly from the
      Adobe site to be able to display them correctly on your device. As a result, your browser will establish a
      connection with Adobe&rsquo;s servers in the United States. Hence, Adobe learns that your IP address was used to
      access this website. According to the information provided by Adobe, no cookies will be stored in conjunction with
      the provision of the fonts.</p>
      <p>Data are stored and analyzed on the basis of Art. 6(1)(f) GDPR. The website operator has a legitimate interest in a
      uniform presentation of the font on the operator&rsquo;s website. If appropriate consent has been obtained, the
      processing is carried out exclusively on the basis of Art. 6(1)(a) GDPR and &sect; 25 (1) TDDDG, insofar the consent
      includes the storage of cookies or the access to information in the user&rsquo;s end device (e.g., device
      fingerprinting) within the meaning of the TDDDG. This consent can be revoked at any time.</p>
      <p>Data transmission to the US is based on the Standard Contractual Clauses (SCC) of the European Commission. Details
      can be found here: <a href="https://www.adobe.com/de/privacy/eudatatransfers.html" target="_blank"
            rel="noopener noreferrer">https://www.adobe.com/de/privacy/eudatatransfers.html</a>.</p>
      <p>For more information about Adobe Fonts, please read the policies under: <a
            href="https://www.adobe.com/privacy/policies/adobe-fonts.html" target="_blank"
            rel="noopener noreferrer">https://www.adobe.com/privacy/policies/adobe-fonts.html</a>.</p>
      <p>Adobe&rsquo;s Data Privacy Declaration may be reviewed under: <a href="https://www.adobe.com/privacy/policy.html"
            target="_blank" rel="noopener noreferrer">https://www.adobe.com/privacy/policy.html</a>.</p>
      <p>The company is certified in accordance with the &ldquo;EU-US Data Privacy Framework&rdquo; (DPF). The DPF is an
      agreement between the European Union and the US, which is intended to ensure compliance with European data
      protection standards for data processing in the US. Every company certified under the DPF is obliged to comply with
      these data protection standards. For more information, please contact the provider under the following link: <a
            href="https://www.dataprivacyframework.gov/participant/5660" target="_blank"
            rel="noopener noreferrer">https://www.dataprivacyframework.gov/participant/5660</a>.</p>
      <h3 class="h6">Google Maps</h3>
      <p>This website uses the mapping service Google Maps. The provider is Google Ireland Limited (&ldquo;Google&rdquo;),
      Gordon House, Barrow Street, Dublin 4, Ireland. With the means of this service, we can integrate map material on our
      website.</p>
      <p>To enable the use of the Google Maps features, your IP address must be stored. As a rule, this information is
      transferred to one of Google&rsquo;s servers in the United States, where it is archived. The operator of this
      website has no control over the data transfer. In case Google Maps has been activated, Google has the option to use
      Google Fonts for the purpose of the uniform depiction of fonts. When you access Google Maps, your browser will load
      the required web fonts into your browser cache, to correctly display text and fonts.</p>
      <p>We use Google Maps to present our online content in an appealing manner and to make the locations disclosed on our
      website easy to find. This constitutes a legitimate interest as defined in Art. 6(1)(f) GDPR. If appropriate consent
      has been obtained, the processing is carried out exclusively on the basis of Art. 6(1)(a) GDPR and &sect; 25 (1)
      TDDDG, insofar the consent includes the storage of cookies or the access to information in the user&rsquo;s end
      device (e.g., device fingerprinting) within the meaning of the TDDDG. This consent can be revoked at any time.</p>
      <p>Data transmission to the US is based on the Standard Contractual Clauses (SCC) of the European Commission. Details
      can be found here: <a href="https://privacy.google.com/businesses/gdprcontrollerterms/" target="_blank"
            rel="noopener noreferrer">https://privacy.google.com/businesses/gdprcontrollerterms/</a> and <a
            href="https://privacy.google.com/businesses/gdprcontrollerterms/sccs/" target="_blank"
            rel="noopener noreferrer">https://privacy.google.com/businesses/gdprcontrollerterms/sccs/</a>.</p>
      <p>For more information on the handling of user data, please review Google&rsquo;s Data Privacy Declaration under: <a
            href="https://policies.google.com/privacy?hl=en" target="_blank"
            rel="noopener noreferrer">https://policies.google.com/privacy?hl=en</a>.</p>
      <p>The company is certified in accordance with the &ldquo;EU-US Data Privacy Framework&rdquo; (DPF). The DPF is an
      agreement between the European Union and the US, which is intended to ensure compliance with European data
      protection standards for data processing in the US. Every company certified under the DPF is obliged to comply with
      these data protection standards. For more information, please contact the provider under the following link: <a
            href="https://www.dataprivacyframework.gov/participant/5780" target="_blank"
            rel="noopener noreferrer">https://www.dataprivacyframework.gov/participant/5780</a>.</p>
    </div><!-- .legal.content -->
  </div><!-- .wrapper -->

</section><!-- .legal -->
