---
title: Home
permalink: "{{ locale }}/"

seoTitle: "Luxury Landscape Architecture Europe"
seoDescription: "Boutique garden design atelier creating bespoke, naturalistic landscapes with full-service planning and realization across Germany, Switzerland and Europe."
metaImage: Atelier-Wehrle-Gartengestaltung-pool-landschaftsarchitektur-olivenbaeume.jpg
---

<section class="">

  <div class="wrapper">

    {%- include "partials/hero_slider.njk" -%}
    
  </div><!-- .wrapper -->

</section>
