---
title: Home
permalink: "{{ locale }}/"

seoTitle: "Luxury Landscape Architecture Europe"
seoDescription: "Atelier Wehrle creates bespoke private gardens and luxury naturalistic landscapes in Potsdam, Ascona and across Europe, combining architecture, planting and craftsmanship into timeless outdoor spaces."
metaImage: Atelier-Wehrle-Gartengestaltung-pool-landschaftsarchitektur-olivenbaeume.jpg
---

<section class="">

  <div class="wrapper">

    {%- include "partials/hero_slider.njk" -%}
    
  </div><!-- .wrapper -->

</section>
