---
title: Gärten

seoTitle: "Referenzen Exklusive Gartengestaltung"
seoDescription: "Ausgewählte Gartenprojekte aus Potsdam, Berlin, Ascona und dem Lago-Maggiore-Raum: Villengärten, Innenhöfe, Schlossgärten und naturnahe Landschaften."
metaImage: Atelier-Wehrle-Gartenplanung-moderner-Garten.jpg
---

<section class="teaser_gllry">

  <div class="wrapper">

    {% for post in collections.gardens_de | reverse %}
      {% if loop.first %}<ul class="teasers grd__gllry">{% endif %}
        {% set counter = ( counter | default(0) ) + 1 %}

          <li class="item__{{ counter }} {% if post.data.tags %}{{ post.data.tags | join(' ') }}{% endif %} oov">

            <article>

              <a href="{{- post.url -}}" id="{{ post.data.slug }}">

                <div class="flowcontainer">

                  {% if post.data.featured and post.data.featured.featImage %}
                    {% picture post.data.featured.featImage | split('/') | last, post.data.featured.alt %}
                  {% endif %}
                
                </div>

              <span class="ttl">

                {{ post.data.title }} <br>
                <!-- {{ post.data.title }} -->
                
              </span>

            </a>

            </article>

          </li>

      {% if loop.last %}</ul>{% endif %}
    {% endfor %}

  </div><!-- .wrapper -->

</section>
