---
title: Startseite
permalink: "/"

seoTitle: "Landschaftsarchitektur Potsdam & Ascona"
seoDescription: "Echtes Handwerk und naturnahes Design für exklusive Gärten. Atelier Wehrle plant und realisiert hochwertige Außenanlagen in Deutschland, der Schweiz und Europa."
metaImage: Atelier-Wehrle-Gartengestaltung-pool-landschaftsarchitektur-olivenbaeume.jpg
---

<section class="">

  <div class="wrapper">

    {%- include "partials/hero_slider.njk" -%}
    
  </div><!-- .wrapper -->

</section>
