---
title: Startseite
permalink: "/"

seoTitle: "Landschaftsarchitektur Potsdam & Ascona"
seoDescription: "Atelier Wehrle steht für exklusive Landschaftsarchitektur und naturnahe Gartenplanung in Potsdam, Ascona und ganz Europa. Wir gestalten hochwertige Privatgärten, die Architektur, Pflanze und Handwerk zu zeitlosen Gartenräumen verbinden."
metaImage: Atelier-Wehrle-Gartengestaltung-pool-landschaftsarchitektur-olivenbaeume.jpg
---

<section class="">

  <div class="wrapper">

    {%- include "partials/hero_slider.njk" -%}
    
  </div><!-- .wrapper -->

</section>
