//Swipers
.hero_slider
  
  .hro__sldr
    height: 65vw
    overflow: hidden

    .swiper-wrapper,
    .swiper-slide,
    picture,
    img
      height: 100%

    picture
      display: block

    img
      object-fit: cover
      object-position: center

span.caption
  width: 100%
  text-align: right
  display: block
  @include font__light
  font-size: .75rem

      
