---
date: 2024-01-01
title: Bercherhof
description: Lake Constance DE – Cottage garden 
featuredImage: bercherhof/bercherhof__12.jpg
tags: ['posts_en']
slug: bercherhof

seoTitle: Bercherhof
seoDescription: Lake Constance DE – Cottage garden
metaImage: 
---

<section class="opener {{ page.fileSlug }} {{ tags | join(' ') }} lx">

  <div class="wrapper">

    {% picture  "bercherhof/bercherhof__12.jpg", "Atelier Wehrle – Bercherhof" %}

  </div><!-- .wrapper -->

</section><!-- .opener -->


<section class="garden_gllry">

  <ol class="wrapper grd__gllry __imgs">

    <li class="item__ oov">
      {% picture  "bercherhof/bercherhof__02.jpg", "Atelier Wehrle – Bercherhof" %}
    </li>
    
    <li class="item__ oov">
      {% picture  "bercherhof/bercherhof__01.jpg", "Atelier Wehrle – Bercherhof" %}
    </li>

    <li class="item__ oov">
      {% picture  "bercherhof/bercherhof__04.jpg", "Atelier Wehrle – Bercherhof" %}
    </li>

    <li class="item__ oov">
      {% picture  "bercherhof/bercherhof__10.jpg", "Atelier Wehrle – Bercherhof" %}
    </li>

    <li class="item__ oov">
      {% picture  "bercherhof/bercherhof__09.jpg", "Atelier Wehrle – Bercherhof" %}
    </li>

    <li class="item__ oov">
      {% picture  "bercherhof/bercherhof__08.jpg", "Atelier Wehrle – Bercherhof" %}
    </li>

     <li class="item__ oov">
      {% picture  "bercherhof/bercherhof__07.jpg", "Atelier Wehrle – Bercherhof" %}
    </li>

    <li class="item__ oov">
      {% picture  "bercherhof/bercherhof__03.jpg", "Atelier Wehrle – Bercherhof" %}
    </li>

    <li class="item__ oov">
      {% picture  "bercherhof/bercherhof__14.jpg", "Atelier Wehrle – Bercherhof" %}
    </li>
<!--
    <li class="item__ oov">
      <h1 class="bigquote">Lorem Ipsum dolor sit, atem dolor qit</h1>
      <span>Vorname Mustername</span>
    </li>
-->
     <li class="item__ oov">
      {% picture  "bercherhof/bercherhof__05.jpg", "Atelier Wehrle – Bercherhof" %}
    </li>

    <li class="item__ oov">
      {% picture  "bercherhof/bercherhof__13.jpg", "Atelier Wehrle – Bercherhof" %}
    </li>

    <li class="item__ oov">
      {% picture  "bercherhof/bercherhof__11.jpg", "Atelier Wehrle – Bercherhof" %}
    </li>

  </ol><!-- .wrapper -->

</section><!-- .opener -->

<section class="garden__details oov">

  <div class="wrapper">

    <h1 class="h5">Lake Constance DE – Cottage garden </h1>

    <p class="__txt">

      This landscape garden is located on a ridge above the Upper Rhine, offering breathtaking views of the surrounding countryside. From here, the view sweeps over the Rhine, which gently winds through the hilly landscape. Particularly impressive is the natural sequence of garden spaces dictated by the environment. Visitors are invited to stroll from the traditional vegetable garden into the romantic rose garden, and finally discover the expansive landscape park with old trees and pear trees, entwined with dreamy white rambler roses. The modern vegetable garden with raised beds made of Corten steel adds a contemporary touch. The highlight of the garden is the swimming pond, nestled into the landscape, offering views of a dry grassland meadow with fruit trees.

    </p><!-- .wrapper -->
  </div><!-- .wrapper -->

</section><!-- .garden__details -->

<section class="garden_closer">

  <div class="wrapper">

     <div class="item__1 oov">
      {% picture  "bercherhof/bercherhof__06.jpg", "Atelier Wehrle – Bercherhof" %}
    </div>

    <ol class="item__2 credits oov">

      <li>
       <strong>{{ translate[locale].design }}</strong>			<span>Manuel Wehrle</span>
      </li>
  
      <li>
        <strong>{{ translate[locale].images }}</strong>			<span>Vladyslav Pustovit</span>
      </li>

    </ol>

  </div><!-- .wrapper -->

</section><!-- .opener -->