---
date: 2022-02-01
title: Geneva
description: Geneva CH – Balcony 
featuredImage: geneva/geneva__06.jpg
tags: ['posts_en']
slug: geneva

seoTitle: Geneva
seoDescription: Geneva CH – Balcony 
metaImage: 
---

<section class="opener {{ page.fileSlug }} {{ tags | join(' ') }} lx">

  <div class="wrapper">

    {% picture  "geneva/geneva__06.jpg", "Atelier Wehrle – Geneva" %}

  </div><!-- .wrapper -->

</section><!-- .opener -->


<section class="garden_gllry">

  <ol class="wrapper grd__gllry __imgs">

    <li class="item__ oov">
      {% picture  "geneva/geneva__04.jpg", "Atelier Wehrle – Geneva" %}
    </li>
    
    <li class="item__ oov">
      {% picture  "geneva/geneva__02.jpg", "Atelier Wehrle – Geneva" %}
    </li>

    <li class="item__ oov">
      {% picture  "geneva/geneva__01.jpg", "Atelier Wehrle – Geneva" %}
    </li>
<!--
    <li class="item__ oov">
      <h1 class="bigquote">Lorem Ipsum dolor sit, atem dolor qit</h1>
      <span>Vorname Mustername</span>
    </li>
-->
    <li class="item__ oov">
      {% picture  "geneva/geneva__07.jpg", "Atelier Wehrle – Geneva" %}
    </li>

    <li class="item__ oov">
      {% picture  "geneva/geneva__03.jpg", "Atelier Wehrle – Geneva" %}
    </li>

  </ol><!-- .wrapper -->

</section><!-- .opener -->

<section class="garden__details oov">

  <div class="wrapper">

    <h1 class="h5">Geneva CH – Balcony</h1>

    <p class="__txt">

      On a small balcony in Geneva, Atelier Wehrle has created a garden paradise that serves as a peaceful oasis amid the hectic city life, despite the limited space. The outdoor area was designed as a natural extension of the interior—a living room in the open air that invites relaxation.
      <br /><br />
      Open in design, this space offers a stunning view over Lake Geneva to the Jura Mountains in France. The vibrant, natural plant selection creates an inviting atmosphere, where one can linger with a glass of wine and enjoy the view.
      <br /><br />
      In contrast, the sleeping area is characterized by a sheltered yet airy design. Without the feeling of being hidden behind walls, the space remains private and cozy, ideal for moments of relaxation and tranquility, away from the city views.

    </p><!-- .wrapper -->

  </div><!-- .wrapper -->

</section><!-- .garden__details -->

<section class="garden_closer">

  <div class="wrapper">

     <div class="item__1 oov">
      {% picture  "geneva/geneva__05.jpg", "Atelier Wehrle – Geneva" %}
    </div>

    <ol class="item__2 credits oov">

      <li>
       <strong>{{ translate[locale].design }}</strong>			<span>Manuel Wehrle</span>
      </li>

      <li>
        <strong>{{ translate[locale].execution }}</strong>			<span>Jacquet SA – Pépinière </span>
      </li>
  
      <li>
        <strong>{{ translate[locale].images }}</strong>			<span>Manuel Wehrle</span>
      </li>

    </ol>

  </div><!-- .wrapper -->

</section><!-- .opener -->