---
date: 2023-09-01
title: Hagen
description: Nordrhein-Westfalen DE – Landscape garden
featuredImage: hagen/hagen__05.jpg
tags: ['posts_en']
slug: hagen

seoTitle: Hagen
seoDescription: Nordrhein-Westfalen DE – Landscape garden
metaImage: 
---

<section class="opener {{ page.fileSlug }} {{ tags | join(' ') }} lx">

  <div class="wrapper">

    {% picture  "hagen/hagen__10.jpg", "Atelier Wehrle – Hagen" %}

  </div><!-- .wrapper -->

</section><!-- .opener -->


<section class="garden_gllry">

  <ol class="wrapper grd__gllry __imgs">

    <li class="item__ oov">
      {% picture  "hagen/hagen__02.jpg", "Atelier Wehrle – Hagen" %}
    </li>
    
    <li class="item__ oov">
      {% picture  "hagen/hagen__05.jpg", "Atelier Wehrle – Hagen" %}
    </li>

    <li class="item__ oov">
      {% picture  "hagen/hagen__06.jpg", "Atelier Wehrle – Hagen" %}
    </li>

    <li class="item__ oov">
      {% picture  "hagen/hagen__04.jpg", "Atelier Wehrle – Hagen" %}
    </li>
<!--
    <li class="item__ oov">
      <h1 class="bigquote">Lorem Ipsum dolor sit, atem dolor qit</h1>
      <span>Vorname Mustername</span>
    </li>
-->
    <li class="item__ oov">
      {% picture  "hagen/hagen__11.jpg", "Atelier Wehrle – Hagen" %}
    </li>

    <li class="item__ oov">
      {% picture  "hagen/hagen__09.jpg", "Atelier Wehrle – Hagen" %}
    </li>

     <li class="item__ oov">
      {% picture  "hagen/hagen__08.jpg", "Atelier Wehrle – Hagen" %}
    </li>

    <li class="item__ oov">
      {% picture  "hagen/hagen__03.jpg", "Atelier Wehrle – Hagen" %}
    </li>

    <li class="item__ oov">
      {% picture  "hagen/hagen__07.jpg", "Atelier Wehrle – Hagen" %}
    </li>

    <li class="item__ oov">
      {% picture  "hagen/hagen__13.jpg", "Atelier Wehrle – Hagen" %}
    </li>

  </ol><!-- .wrapper -->

</section><!-- .opener -->

<section class="garden__details oov">

  <div class="wrapper">

    <h1 class="h5">Nordrhein-Westfalen DE – Landscape garden</h1>

    <p class="__txt">

      This landscape garden surrounds a country house in the English Arts and Crafts style, which was brought back to life by Berlin interior designer Gisbert Pöppler. The heart of the garden is the swimming pond, nestled in a colorful perennial landscape. Visitors can stroll along wide grassy paths through a sea of flowers and buzzing insects, no matter the season. This garden is an example of how nature can be given back even in private spaces. The swimming pond serves as a retreat and habitat for newts, dragonflies, birds, and numerous insects. A former concrete pool was renaturalized and connected to the new swimming pond by a stream with stepping stones. Additional elements such as a vegetable garden, rose garden, meadows, a woodland garden, and a formally designed courtyard complete the overall concept.    
    
    </p><!-- .wrapper -->
  </div><!-- .wrapper -->

</section><!-- .garden__details -->

<section class="garden_closer">

  <div class="wrapper">

     <div class="item__1 oov">
      {% picture  "hagen/hagen__12.jpg", "Atelier Wehrle – Hagen" %}
    </div>

    <ol class="item__2 credits oov">

      <li>
       <strong>{{ translate[locale].design }}</strong>			<span>Manuel Wehrle for the Royal Garden Academy</span>
      </li>

      <li>
        <strong>{{ translate[locale].execution }}</strong>			<span>Klute – Garten Eden</span>
      </li>

      <li>
        <strong>{{ translate[locale].images }}</strong>			<span>Vladyslav Pustovit</span>
      </li>

    </ol>

  </div><!-- .wrapper -->

</section><!-- .opener -->