---
date: 2016-07-01
title: Hampton Show
description: Hampton Court Palace UK – Flower Show 
featuredImage: hampton-show/hampton-show__02.jpg
tags: ['posts_en']
slug: hampton-show

seoTitle: Hampton Show
seoDescription: Hampton Court Palace UK – Flower Show 
metaImage: 
---

<section class="opener {{ page.fileSlug }} {{ tags | join(' ') }} lx">

  <div class="wrapper">

    {% picture  "hampton-show/hampton-show__02.jpg", "Atelier Wehrle – Hampton Show" %}

  </div><!-- .wrapper -->

</section><!-- .opener -->

<section class="garden_gllry">

  <ol class="wrapper grd__gllry __imgs">

    <li class="item__ oov">
      {% picture  "hampton-show/hampton-show__01.jpg", "Atelier Wehrle – Hampton Show" %}
    </li>
    
    <li class="item__ oov">
      {% picture  "hampton-show/hampton-show__03.jpg", "Atelier Wehrle – Hampton Show" %}
    </li>

    <li class="item__ oov">
      {% picture  "hampton-show/hampton-show__04.jpg", "Atelier Wehrle – Hampton Show" %}
    </li>

    <li class="item__ oov">
      {% picture  "hampton-show/hampton-show__07.jpg", "Atelier Wehrle – Hampton Show" %}
    </li>

    <li class="item__ oov">
      {% picture  "hampton-show/hampton-show__05.jpg", "Atelier Wehrle – Hampton Show" %}
    </li>


  </ol><!-- .wrapper -->

</section><!-- .garden_gllry -->

<section class="garden__details oov">

  <div class="wrapper">

    <h1 class="h5">Hampton Court Palace UK – Flower Show</h1>

    <p class="__txt">

      In 2016, I had the honor of designing an exceptional show garden together with my good friend and colleague, Jasper Käßmann, for the prestigious Hampton Court Palace Flower Show, organized by the Royal Horticultural Society in England. This garden was dedicated to the 400th anniversary of the death of the famous English playwright William Shakespeare and was themed "All the world is a stage."
      <br /><br />
      The garden itself told a symbolic story of life’s journey: at the beginning, it featured lush greenery and pure white blooms, representing the start of life. As visitors moved through the garden, the design transitioned to drier, more barren areas with dark, almost black flowers, symbolizing the end of life. This thoughtful and profound design allowed visitors to experience a visual interpretation of Shakespeare’s famous words.
      <br /><br />
      The construction of the garden took three weeks, and during the five days of the exhibition, it attracted around 130,000 visitors. We were awarded the prestigious "Silver Gilt Medal" for our work, a recognition of the creativity and craftsmanship that went into the garden.
      <br /><br />
      This show garden highlights how gardens can not only be visually stunning but also convey deeper emotional and philosophical narratives. 

    </p><!-- .wrapper -->
  </div><!-- .wrapper -->

</section><!-- .garden__details -->

<section class="garden_closer">

  <div class="wrapper">

    <div class="item__1 oov">

      {% picture  "hampton-show/hampton-show__06.jpg", "Atelier Wehrle – Hampton Show" %}

    </div>

    <ol class="item__2 credits oov">

      <li>
       <strong>{{ translate[locale].design }}</strong>			<span>Manuel Wehrle für die Königliche Gartenakademie</span>
      </li>
<!--
      <li>
        <strong>{{ translate[locale].execution }}</strong>			<span>Käding Gartenbau</span>
      </li>
-->
      <li>
        <strong>{{ translate[locale].images }}</strong>			<span>Manuel Wehrle</span>
      </li>

    </ol>

  </div><!-- .wrapper -->

</section><!-- .opener -->