---
date: 2023-03-01
title: Koch
description: Berlin DE – Villa Garden
featuredImage: koch/koch__01.jpg
tags: ['posts_en']
slug: koch

seoTitle: Koch
seoDescription: Berlin DE – Villa Garden
metaImage: 
---

<section class="opener {{ page.fileSlug }} {{ tags | join(' ') }} lx">

  <div class="wrapper">

    {% picture  "koch/koch__04.jpg", "Atelier Wehrle – Koch" %}

  </div><!-- .wrapper -->

</section><!-- .opener -->


<section class="garden_gllry">

  <ol class="wrapper grd__gllry __imgs">

    <li class="item__ oov">
      {% picture  "koch/koch__01.jpg", "Atelier Wehrle – Koch" %}
    </li>
    
    <li class="item__ oov">
      {% picture  "koch/koch__03.jpg", "Atelier Wehrle – Koch" %}
    </li>

    <li class="item__ oov">
      {% picture  "koch/koch__09.jpg", "Atelier Wehrle – Koch" %}
    </li>

    <li class="item__ oov">
      {% picture  "koch/koch__08.jpg", "Atelier Wehrle – Koch" %}
    </li>
<!--
    <li class="item__ oov">
      <h1 class="bigquote">Lorem Ipsum dolor sit, atem dolor qit</h1>
      <span>Vorname Mustername</span>
    </li>
-->
    <li class="item__ oov">
      {% picture  "koch/koch__07.jpg", "Atelier Wehrle – Koch" %}
    </li>

    <li class="item__ oov">
      {% picture  "koch/koch__02.jpg", "Atelier Wehrle – Koch" %}
    </li>

    <li class="item__ oov">
      {% picture  "koch/koch__06.jpg", "Atelier Wehrle – Koch" %}
    </li>

  </ol><!-- .wrapper -->

</section><!-- .opener -->

<section class="garden__details oov">

  <div class="wrapper">

    <h1 class="h5">Berlin DE – Villa Garden</h1>

    <p class="__txt">

      This urban garden in Berlin is a true place of inspiration and relaxation. At the center of the garden lies an oval lawn, surrounded by a gently undulating landscape of Molinia grasses. This harmonious composition is complemented by artfully pruned topiaries, reminiscent of the strict forms of French Baroque gardens.
      <br /><br />
      The contrast between the natural lightness of the grasses and the elegant rigor of the topiaries creates a timeless atmosphere that invites visitors to stroll through the garden. On this path, one can move from the open lawn through the artfully designed grassy landscape into the calming woodland garden.
      <br /><br />
      This garden is not only an aesthetic experience but also a place of creativity and introspection. Here, the client can recharge and escape the hectic everyday life. Especially in autumn, when the garden is bathed in golden colors, it reveals its full beauty, inviting moments of peace and reflection.
        
    </p><!-- .wrapper -->
  </div><!-- .wrapper -->

</section><!-- .garden__details -->

<section class="garden_closer">

  <div class="wrapper">

     <div class="item__1 oov">
      {% picture  "koch/koch__05.jpg", "Atelier Wehrle – Koch" %}
    </div>

    <ol class="item__2 credits oov">

      <li>
       <strong>{{ translate[locale].design }}</strong>			<span>Manuel Wehrle for the Royal Garden Academy</span>
      </li>

      <li>
        <strong>{{ translate[locale].execution }}</strong>			<span>Käding Gartenbau</span>
      </li>

      <li>
        <strong>{{ translate[locale].images }}</strong>			<span>Vladyslav Pustovit</span>
      </li>

    </ol>

  </div><!-- .wrapper -->

</section><!-- .opener -->