---
date: 2024-04-01
title: Leopoldskron
description: Salzburg – A – Castle Garden 
featuredImage: leopoldskron/leopoldskron__03.jpg
tags: ['posts_en']
slug: leopoldskron

seoTitle: Leopoldskron
seoDescription: Salzburg – A – Castle Garden 
metaImage: 
---

<section class="opener {{ page.fileSlug }} {{ tags | join(' ') }} lx">

  <div class="wrapper">

    {% picture  "leopoldskron/leopoldskron__02.jpg", "Atelier Wehrle – Leopoldskron" %}

  </div><!-- .wrapper -->

</section><!-- .opener -->


<section class="garden_gllry">

  <ol class="wrapper grd__gllry __imgs">

    <li class="item__ oov">
      {% picture  "leopoldskron/leopoldskron__03.jpg", "Atelier Wehrle – Leopoldskron" %}
    </li>
    
    <li class="item__ oov">
      {% picture  "leopoldskron/leopoldskron__01.jpg", "Atelier Wehrle – Leopoldskron" %}
    </li>

    <li class="item__ oov">
      {% picture  "leopoldskron/leopoldskron__09.jpg", "Atelier Wehrle – Leopoldskron" %}
    </li>

    <li class="item__ oov">
      {% picture  "leopoldskron/leopoldskron__08.jpg", "Atelier Wehrle – Leopoldskron" %}
    </li>

    <li class="item__ oov">
      <h1 class="bigquote">Lorem Ipsum dolor sit, atem dolor qit</h1>
      <span>Vorname Mustername</span>
    </li>

    <li class="item__ oov">
      {% picture  "leopoldskron/leopoldskron__07.jpg", "Atelier Wehrle – Leopoldskron" %}
    </li>

    <li class="item__ oov">
      {% picture  "leopoldskron/leopoldskron__04.jpg", "Atelier Wehrle – Leopoldskron" %}
    </li>

    <li class="item__ oov">
      {% picture  "leopoldskron/leopoldskron__06.jpg", "Atelier Wehrle – Leopoldskron" %}
    </li>

    <li class="item__ oov">
      {% picture  "leopoldskron/leopoldskron__05.jpg", "Atelier Wehrle – Leopoldskron" %}
    </li>

    <li class="item__ oov">
      {% picture  "leopoldskron/leopoldskron__12.jpg", "Atelier Wehrle – Leopoldskron" %}
    </li>

    <li class="item__ oov">
      {% picture  "leopoldskron/leopoldskron__11.jpg", "Atelier Wehrle – Leopoldskron" %}
    </li>


  </ol><!-- .wrapper -->

</section><!-- .opener -->

<section class="garden__details oov">

  <div class="wrapper">

    <h1 class="h5">Salzburg – A – Castle Garden</h1>

    <p class="__txt">

      The parterre at Leopoldskron Palace in Salzburg, the former home of Max Reinhardt, co-founder of the Salzburg Festival, combines historical grandeur with timeless elegance. The palace, which also served as the setting for a Chanel fashion show under Karl Lagerfeld, inspired me to redesign the garden.
      <br /><br />
      The design incorporates the Baroque architecture of the palace, reinterpreted in a contemporary way. Instead of the monotonous gravel parterre, roses and perennials now bloom in vibrant colors. The diseased boxwood was replaced by a special yew tree, giving the garden a fresh structure. Fountains and benches, designed by Manuel Wehrle, harmoniously blend into the overall concept.
      <br /><br />
      This palace garden demonstrates how tradition and modernity can be combined in a stylish way. Let this design inspire you and discover how a custom-designed garden can enrich your surroundings.

    </p><!-- .wrapper -->
  </div><!-- .wrapper -->

</section><!-- .garden__details -->

<section class="garden_closer">

  <div class="wrapper">

     <div class="item__1 oov">
      {% picture  "leopoldskron/leopoldskron__10.jpg", "Atelier Wehrle – Leopoldskron" %}
    </div>

    <ol class="item__2 credits oov">

      <li>
       <strong>{{ translate[locale].design }}</strong>			<span>Manuel Wehrle for the Royal Garden Academy</span>
      </li>
<!--
      <li>
        <strong>{{ translate[locale].execution }}</strong>			<span>Käding Gartenbau</span>
      </li>
-->
      <li>
        <strong>{{ translate[locale].images }}</strong>			<span>Vladyslav Pustovit</span>
      </li>

    </ol>

  </div><!-- .wrapper -->

</section><!-- .opener -->