---
date: 2024-02-01
title: Eichbergstraße
description: Potsdam DE – Modern villa garden 
featuredImage: eichbergstrasse/eichbergstrasse__12.jpg
tags: ['posts_en']
slug: eichbergstrasse

seoTitle: Eichbergstraße
seoDescription: Potsdam DE – Modern villa garden 
metaImage: 
---

<section class="opener {{ page.fileSlug }} {{ tags | join(' ') }} lx">

  <div class="wrapper">

    {% picture  "eichbergstrasse/eichbergstrasse__12.jpg", "Atelier Wehrle – Eichbergstrasse" %}

  </div><!-- .wrapper -->

</section><!-- .opener -->


<section class="garden_gllry">

  <ol class="wrapper grd__gllry __imgs">

    <li class="item__ oov">
      {% picture  "eichbergstrasse/eichbergstrasse__04.jpg", "Atelier Wehrle – Eichbergstrasse" %}
    </li>
    
    <li class="item__ oov">
      {% picture  "eichbergstrasse/eichbergstrasse__01.jpg", "Atelier Wehrle – Eichbergstrasse" %}
    </li>

    <li class="item__ oov">
      {% picture  "eichbergstrasse/eichbergstrasse__07.jpg", "Atelier Wehrle – Eichbergstrasse" %}
    </li>

    <li class="item__ oov">
      {% picture  "eichbergstrasse/eichbergstrasse__08.jpg", "Atelier Wehrle – Eichbergstrasse" %}
    </li>

    <li class="item__ oov">
      {% picture  "eichbergstrasse/eichbergstrasse__03.jpg", "Atelier Wehrle – Eichbergstrasse" %}
    </li>

    <li class="item__ oov">
      {% picture  "eichbergstrasse/eichbergstrasse__06.jpg", "Atelier Wehrle – Eichbergstrasse" %}
    </li>

  <!--  <li class="item__ oov">
      <h1 class="bigquote">Lorem Ipsum dolor sit, atem dolor qit</h1>
      <span>Vorname Mustername</span>
    </li>
-->

     <li class="item__ oov">
      {% picture  "eichbergstrasse/eichbergstrasse__02.jpg", "Atelier Wehrle – Eichbergstrasse" %}
    </li>

     <li class="item__ oov">
      {% picture  "eichbergstrasse/eichbergstrasse__05.jpg", "Atelier Wehrle – Eichbergstrasse" %}
    </li>

     <li class="item__ oov">
      {% picture  "eichbergstrasse/eichbergstrasse__11.jpg", "Atelier Wehrle – Eichbergstrasse" %}
    </li>

  </ol><!-- .wrapper -->

</section><!-- .opener -->

<section class="garden__details oov">

  <div class="wrapper">

    <h1 class="h5">Potsdam DE – Modern villa garden</h1>

    <p class="__txt">

      The original garden consisted of a lawn area, four columnar oaks, and a monotonous ivy slope—this was the state before Manuel Wehrle fundamentally transformed the garden starting in 2020, not only for aesthetic appeal but also to give back to nature.
      <br /><br />
      The irrigation system was turned off to take a sustainable step. Instead of a barren lawn, a blooming orchard meadow now extends, providing habitat for meadow-nesting birds. The southern slope has been transformed into a Mediterranean sea of flowers, shining with vibrant colors and winter structure year-round. This planting is Atelier Wehrle's response to climate change, using resilient plants.
      <br /><br />
      The vegetable garden combines tradition with inspiration: traditional cottage gardens, English walled gardens, and the "potager du roi" in Versailles. The espalier fruit trees are both functional and a design element that highlights the charm of this garden. A habitat has been created here that unites tradition, innovation, and sustainability.

    </p><!-- .wrapper -->
  </div><!-- .wrapper -->

</section><!-- .garden__details -->

<section class="garden_closer">

  <div class="wrapper">

     <div class="item__1 oov">
      {% picture  "eichbergstrasse/eichbergstrasse__10.jpg", "Atelier Wehrle – Eichbergstrasse" %}
    </div>

    <ol class="item__2 credits oov">

      <li>
       <strong>{{ translate[locale].design }}</strong>			<span>Manuel Wehrle</span>
      </li>

      <li>
        <strong>{{ translate[locale].execution }}</strong>			<span>GPL – Ingo Kunde</span>
      </li>

      <li>
        <strong>{{ translate[locale].images }}</strong>			<span>Vladyslav Pustovit</span>
      </li>

    </ol>

  </div><!-- .wrapper -->

</section><!-- .opener -->