---
date: 2022-07-01
title: Saint Tropez
description: Saint Tropez – F – Villa Garden
featuredImage: atelier-wehrle__05.jpg
tags: ['posts_en']
slug: saint-tropez

seoTitle: Saint Tropez
seoDescription: Saint Tropez – F – Villa Garden 
metaImage: 
---

<section class="opener {{ page.fileSlug }} {{ tags | join(' ') }} lx">

  <div class="wrapper">


  </div><!-- .wrapper -->

</section><!-- .opener -->

<section class="garden__details oov">

  <div class="wrapper">

    <h1 class="h5">Saint Tropez – F – Villa Garden</h1>

    <p class="__txt">

      This garden, located in the "Les Parcs" villa district of Saint-Tropez, remains unseen for reasons of discretion. The design responds to the increasing drought and heat in the Mediterranean region. The lawn area was significantly reduced and replaced by a gravel garden with Mediterranean perennials. After a three-year establishment phase, the garden now thrives even in the height of summer without irrigation, remaining a blooming oasis for both people and wildlife. This garden design is a response to climate change while simultaneously celebrating the art and beauty of garden culture.    
    
    </p><!-- .wrapper -->
  </div><!-- .wrapper -->

</section><!-- .garden__details -->

<section class="garden_closer">

  <div class="wrapper">

     <div class="item__1 oov">
      
    </div>

    <ol class="item__2 credits oov">

      <li>
       <strong>{{ translate[locale].design }}</strong>			<span>Manuel Wehrle for the Royal Garden Academy</span>
      </li>
<!--
      <li>
        <strong>{{ translate[locale].execution }}</strong>			<span>Käding Gartenbau</span>
      </li>
-->
      <li>
        <strong>{{ translate[locale].images }}</strong>			<span>Vladyslav Pustovit</span>
      </li>

    </ol>

  </div><!-- .wrapper -->

</section><!-- .opener -->