---
date: 2022-01-01
title: Veteranenstraße
description: Berlin – DE – Courtyard
featuredImage: veteranenstrasse/veteranenstrasse__04.jpg
tags: ['posts_en']
slug: veteranenstrasse

seoTitle: Veteranenstraße
seoDescription: Berlin – DE – Courtyard 
metaImage: 
---

<section class="opener {{ page.fileSlug }} {{ tags | join(' ') }} lx">

  <div class="wrapper">

    {% picture  "veteranenstrasse/veteranenstrasse__04.jpg", "Atelier Wehrle – Veteranenstraße" %}

  </div><!-- .wrapper -->

</section><!-- .opener -->


<section class="garden_gllry">

  <ol class="wrapper grd__gllry __imgs">

    <li class="item__ oov">
      {% picture  "veteranenstrasse/veteranenstrasse__01.jpg", "Atelier Wehrle – Veteranenstraße" %}
    </li>
    
     <li class="item__ oov">
      {% picture  "veteranenstrasse/veteranenstrasse__06.jpg", "Atelier Wehrle – Veteranenstraße" %}
    </li>
    
    <li class="item__ oov">
      <h1 class="bigquote">Lorem Ipsum dolor sit, atem dolor qit</h1>
      <span>Vorname Mustername</span>
    </li>

    <li class="item__ oov">
      {% picture  "veteranenstrasse/veteranenstrasse__03.jpg", "Atelier Wehrle – Veteranenstraße" %}
    </li>

    <li class="item__ oov">
      {% picture  "veteranenstrasse/veteranenstrasse__05.jpg", "Atelier Wehrle – Veteranenstraße" %}
    </li>

  </ol><!-- .wrapper -->

</section><!-- .opener -->

<section class="garden__details oov">

  <div class="wrapper">

    <h1 class="h5">Berlin – DE – Courtyard </h1>

    <p class="__txt">

      This previously unused, shady courtyard was transformed into a vibrant, inviting space through a redesign in collaboration with interior designer Maj van der Linden and Frieser Gartengestaltung, Swisspearl. Since the courtyard never receives direct sunlight, plants were selected that thrive in low light and still appear lush. The choice of exclusively white-flowering perennials brings freshness and brightness to the space, giving the formerly dark courtyard a new, friendly atmosphere.    
    
    </p><!-- .wrapper -->

  </div><!-- .wrapper -->

</section><!-- .garden__details -->

<section class="garden_closer">

  <div class="wrapper">

     <div class="item__1 oov">
      {% picture  "veteranenstrasse/veteranenstrasse__02.jpg", "Atelier Wehrle – Veteranenstraße" %}
    </div>

    <ol class="item__2 credits oov">

      <li>
       <strong>{{ translate[locale].design }}</strong>			<span>Manuel Wehrle for the Royal Garden Academy</span>
      </li>

      <li>
        <strong>{{ translate[locale].execution }}</strong>			<span>Königliche Gartenakademie</span>
      </li>
  
      <li>
        <strong>{{ translate[locale].images }}</strong>			<span>Valadyslav Pustovit</span>
      </li>

    </ol>

  </div><!-- .wrapper -->

</section><!-- .opener -->