---
title: Atelier
permalink: /{{ locale }}/atelier/
translationKey: "atelier"

seoTitle: Atelier
seoDescription: 
metaImage: 
---

<section class="opener lax">

  <div class="wrapper">

    {% picture  "leopoldskron/leopoldskron__02.jpg", "Atelier Wehrle – Leopoldskron" %}

  </div><!-- .wrapper -->

</section><!-- .opener -->


<section class="about">

  <div class="wrapper grd__a">

    <div class="item__1 oov">
      <h1 class="h5">Atelier Wehrle</h1>
      <p>
        ‘We use the power of garden design to challenge the existing design norm, to bring out the truth, to open the mind, and to question the world around us.’ Atelier Wehrle is an internationally active boutique garden design studio based in the heart of Potsdam and Ascona (Switzerland). 
        <br /><br />
        Manuel Wehrle and his team are driven and passionate about reconnecting people with nature and seeing gardens as a natural part of their lives. Nature experiences four seasons, which should be palpable and tangible in the garden. Time stops, and change accompanies its owner. Manuel Wehrle defines an authentic relationship with nature as the real luxury of our time. 
        <br /><br />
        A house and garden always mirror a personality. Reading people and creating individual, creative garden spaces are always Central to his work. His work is characterized by high-quality materials and respect for excellent craftsmanship, individually tailored to his client’s needs. The future of a place is always defined by its history and the individual usage profile of its customers.
      </p>

    </div><!-- .item__1 -->

    <div class="item__2 oov">

       {% picture  "bercherhof/bercherhof__02.jpg", "Atelier Wehrle – Bercherhof" %}

    </div><!-- .item__2 -->

    <div class="item__3 oov">

       {% picture  "atelier_wehrle__01.jpg", "Atelier Wehrle – Manuel Wehrle" %}

    </div><!-- .item__3 -->

    <div class="item__4 oov">

       <h1 class="h5">Manuel Wehrle</h1>
      <p>
        Growing up on a farm in the third generation with three siblings, a large farm garden, and a sustainable relationship with nature are part of his personality’s roots. These have shaped him and grounded him for the challenges of his work. 
        <br /><br />
        Manuel Wehrle was internationally trained by the world’s best garden Designers in England, France, India, Switzerland, and Germany. He has received several awards for his designs. In 2024, two of his gardens were voted the best garden designs in Germany, Switzerland and Austria. 
        <br /><br />
        In a climatically challenging age, Manuel Wehrle defines his work as a responsibility towards natural resources.
      </p>

    </div><!-- .item__4 -->

  </div><!-- .wrapper -->

</section><!-- .about -->

<!--
<section class="quote">

  <div class="wrapper grd__b">

    <div class="item__1 oov">
      
      <h1 class="bigquote">Lorem Ipsum dolor sit, atem dolor qit</h1>
      <span>Vorname Mustername</span>

    </div>

  </div>

</section>

-->

<section class="awards">

  <div class="wrapper">
    <h1 class="h6 oov">{{ translate[locale].award }}</h1>
    <ol class="award_list">
      
      <li class="item__1 oov">
        {% picture  "atelier-wehrle_award__1.png", "Atelier Wehrle – Award" %}
      </li>

      <li class="item__1 oov">
        {% picture  "atelier-wehrle_award__2.jpg", "Atelier Wehrle – Award" %}
      </li>


    </ol><!-- .awards -->

  </div><!-- .wrapper -->

</section><!-- .awards -->