---
title: Imprint
permalink: /{{ locale }}/imprint/
layout: "layouts/base.njk"

seoTitle: Imprint
seoDescription: Imprint
metaImage: 
---


<section class="legal">
  <div class="wrapper grd">
    <div class="legal_content">
      <h1 class="h4">Imprint</h1>

      <h2 class="h5">Information according to § 5 TMG</h2>
      <p>Atelier Wehrle<br />
      Eichbergstraße 2<br />
      14469 Potsdam</p>

      <p><strong>Represented by:</strong><br />
      Manuel Wehrle</p>

      <h2 class="h5">Contact</h2>
      <!-- <p>Telefon: {{ site.phone }}<br />  -->
      E-Mail: {{ site.email }}</p>

<!--
      <h2 class="h5">Sales tax ID</h2>
      <p>Sales tax identification number according to § 27 a sales tax law:<br />
      ???</p>
-->
      <h2 class="h5">Consumer dispute resolution/universal arbitration board</h2>
      <p>The European Commission provides a platform for online dispute resolution (OS): <a class="link" href="https://ec.europa.eu/consumers/odr/" target="_blank" rel="noopener noreferrer">https://ec.europa.eu/consumers/odr/</a>.<br />You can find our e-mail address in the legal notice above.</p>

      <h2 class="h5">Verbraucher&shy;streit&shy;beilegung/Universal&shy;schlichtungs&shy;stelle</h2>
      <p>We are not willing or obliged to participate in dispute resolution proceedings before a consumer arbitration board.</p>
    </div><!-- .legal.content -->
  </div><!-- .wrapper -->

</section><!-- .legal -->
