<footer>

  <div class="wrapper">

    <div class="footer_ctnt">

      <ul class="__copyright">
        <li>©{% year %} {{ site.title }}. {{ translate[locale].copyrights }}.</li>
      </ul>

      <ul class="__links">
        <li><a class="fade" href="mailto:{{ site.email }}">{{ site.email }}</a></li>
        <li><a class="fade" href="{{ site.instagram }}" target="_blank" rel="noopener">Instagram</a></li>
        <li><a class="fade" href="{{ site.pinterest }}" target="_blank" rel="noopener">Pinterest</a></li>
        <li><a class="fade" href="{{ site.linkedin }}" target="_blank" rel="noopener">LinkedIn</a></li>

        {% set baseUrl = "" if locale == "de" else "/" + locale %}

        <li>
          <a class="fade"
            href="{{ baseUrl }}/{{ url.de.imprint }}"
            lang="{{ locale }}"
            hreflang="{{ locale }}">
            {{ translate[locale].imprint }}
          </a>
        </li>
        <li>
          <a class="fade"
            href="{{ baseUrl }}/{{ url.de.privacy }}"
            lang="{{ locale }}"
            hreflang="{{ locale }}">
            {{ translate[locale].privacy }}
          </a>
        </li>

      </ul>

    </div>

  </div>

</footer>
