<footer>

  <div class="wrapper">

    <div class="footer_ctnt">

      <ul class="__copyright">
        <li>©{% year %} {{ site.title }}. {{ translate[locale].copyrights }}.</li>
      </ul>

      <ul class="__links">
        <li><a class="" href="mailto:{{ site.email }}">{{ site.email }}</a></li>
        <li><a class="" href="{{ site.instagram }}" target="_blank" rel="noopener">Instagram</a></li>
        <li><a class="" href="{{ site.pinterest }}" target="_blank" rel="noopener">Pinterest</a></li>
        <li><a class="" href="{{ site.linkedin }}" target="_blank" rel="noopener">LinkedIn</a></li>
        <li><a href="/{{ locale }}/{{ url[locale].imprint }}">{{ translate[locale].imprint }}</a></li>
        <li><a href="/{{ locale }}/{{ url[locale].privacy }}">{{ translate[locale].privacy }}</a></li>
      </ul>


    </div>

  </div>

</footer>
