<!DOCTYPE html>
<html class="no-js" lang="{{lang}}" id="{{ page.fileSlug }}">
  <head>
    <meta charset="utf-8">
    <title>{{site.title}} · {{ seoTitle }}</title>
    <meta name="description" content="{{seoDescription}}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- i18n SEO alternate Link-->
    <link rel="canonical" href="{{ site.url }}{{ page.url }}">
    <link rel="alternate" hreflang="{{lang}}" href="{{site.url}}{{page.url}}">
    {% for link in page.url | locale_links %}
    <link rel="alternate" hreflang="{{link.lang}}" href="{{site.url}}{{link.url}}">
    {% endfor %}
    <link rel="alternate" hreflang="x-default" href="{{ site.url }}">

    <!-- ccm19 cookie consent -->
    <script src="https://cloud.ccm19.de/app.js?apiKey=90e58e760ef4bc9ed7cbe9d0238d998da28d3489dc84daf7&amp;domain=691c6133778bbf12cb020682" referrerpolicy="origin"></script>

    <!-- favicon -->
    <!-- Standard Favicons -->
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/fav/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/fav/favicon-16x16.png">
    <link rel="shortcut icon" href="/assets/fav/favicon.ico">

    <!-- Apple Touch Icons -->
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/fav/apple-touch-icon-180x180.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/assets/fav/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/assets/fav/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/assets/fav/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/assets/fav/apple-touch-icon-60x60.png">

    <!-- Android & PWA Icons -->
    <link rel="icon" type="image/png" sizes="192x192" href="/assets/fav/android-chrome-192x192.png">
    <link rel="icon" type="image/png" sizes="512x512" href="/assets/fav/android-chrome-512x512.png">
    <link rel="manifest" href="/assets/fav/site.webmanifest">

    <!-- Microsoft Tiles -->
    <meta name="msapplication-TileImage" content="/assets/fav/mstile-150x150.png">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-config" content="/assets/fav/browserconfig.xml">

    <!-- Additional Meta Tags -->
    <meta name="theme-color" content="#ffffff">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="default">
    <meta name="apple-mobile-web-app-title" content="Atelier Wehrle">
    <meta name="application-name" content="Atelier Wehrle">

    <!-- font preloader -->
    <link rel="preload" href="/assets/fonts/poppins-v21-latin-regular.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="/assets/fonts/poppins-v21-latin-200.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="/assets/fonts/poppins-v21-latin-600.woff2" as="font" type="font/woff2" crossorigin>

    <link rel="preload" href="/assets/fonts/poppins-v21-latin-200italic.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="/assets/fonts/poppins-v21-latin-italic.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="stylesheet" href="/style.css">

    <!-- Preconnect Fonts -->
    <link rel="preconnect" href="https://use.typekit.net" crossorigin />
    <link rel="preconnect" href="https://p.typekit.net" crossorigin />

    <!-- Preload Fonts -->
    <link rel="preload" as="style" href="https://use.typekit.net/lyi3uli.css" />
    <link rel="stylesheet" href="https://use.typekit.net/lyi3uli.css" media="print" onload="this.media='all'" />
    <noscript>
        <link rel="stylesheet" href="https://use.typekit.net/lyi3uli.css" />
    </noscript>

    <!-- open graph -->
    <meta property="og:type" content="article">
    <meta property="og:title" content="{{ seoTitle }} · {{ site[locale].metaTitle }}">
    <meta property="og:image" content="{{ site.url }}/assets/img/{{ metaImage }}">
    <meta property="og:image:secure_url" content="{{ site.url }}/assets/img/{{ metaImage }}}">
    <meta property="og:site_name" content="{{ site.name }}">
    <meta property="og:description" content="{{ seoDescription }}">
    <meta property="og:url" content="{{ site.url }}{{ page.url }}">

    <!-- twitter -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="{{ site.authorTwitter }}">
    <meta name="twitter:creator" content="{{ site.authorTwitter }}">
    <meta name="twitter:title" content="{{ seoTitle }} · {{ site[locale].metaTitle }}">
    <meta name="twitter:description" content="{{ seoDescription }}">
    <meta name="twitter:image" content="{{ site.url }}/assets/img/{{ metaImage }}">
    <meta property="twitter:url" content="{{ site.url }}{{ page.url }}">

  </head>
