<!DOCTYPE html>
<html class="no-js" lang="de" id="{{ page.fileSlug }}">
  <head>
    <meta charset="utf-8">
    <title>{{site.title}} · {{ seoTitle }}</title>
    <meta name="description" content="{{seoDescription}}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-NHT87VMR');</script>
    <!-- End Google Tag Manager -->

    <!-- ccm19 cookie consent -->
    <script src="https://cloud.ccm19.de/app.js?apiKey=41234b03f43d774ef6674ed6380929d7c00f832cfd8b16e0&amp;domain=67b3732874465e67850a3622" referrerpolicy="origin"></script>

    <!-- favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/fav/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/fav/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/fav/favicon-16x16.png">
   <!-- <link rel="manifest" href="/assets/fav/site.webmanifest"> -->
    <link rel="mask-icon" href="/assets/fav/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

    <!-- font preloader -->
    <link rel="preload" href="/assets/fonts/poppins-v21-latin-regular.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="/assets/fonts/poppins-v21-latin-200.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="/assets/fonts/poppins-v21-latin-600.woff2" as="font" type="font/woff2" crossorigin>

    <link rel="preload" href="/assets/fonts/poppins-v21-latin-200italic.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="/assets/fonts/poppins-v21-latin-italic.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="stylesheet" href="/style.css">

    <!-- Preconnect Fonts -->
    <link rel="preconnect" href="https://use.typekit.net" crossorigin />
    <link rel="preconnect" href="https://p.typekit.net" crossorigin />

    <!-- Preload Fonts -->
    <link rel="preload" as="style" href="https://use.typekit.net/lyi3uli.css" />
    <link rel="stylesheet" href="https://use.typekit.net/lyi3uli.css" media="print" onload="this.media='all'" />
    <noscript>
        <link rel="stylesheet" href="https://use.typekit.net/lyi3uli.css" />
    </noscript>

    <!-- open graph -->
    <meta property="og:type" content="article">
    <meta property="og:title" content="{{ seoTitle }} · {{ site[locale].metaTitle }}">
    <meta property="og:image" content="{{ site.url }}/assets/img/{{ metaImage }}">
    <meta property="og:image:secure_url" content="{{ site.url }}/assets/img/{{ metaImage }}}">
    <meta property="og:site_name" content="{{ site.name }}">
    <meta property="og:description" content="{{ seoDescription }}">
    <meta property="og:url" content="{{ site.url }}{{ page.url }}">

    <!-- twitter -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="{{ site.authorTwitter }}">
    <meta name="twitter:creator" content="{{ site.authorTwitter }}">
    <meta name="twitter:title" content="{{ seoTitle }} · {{ site[locale].metaTitle }}">
    <meta name="twitter:description" content="{{ seoDescription }}">
    <meta name="twitter:image" content="{{ site.url }}/assets/img/{{ metaImage }}">
    <meta property="twitter:url" content="{{ site.url }}{{ page.url }}">

  </head>
