<div class="hero_slider">

  <!-- Slider main container -->
  <div class="swiper hro__sldr">

    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">

      <!-- Slides -->
      <div class="swiper-slide">
        {% picture  "opener-slider/wehrle_slider__01.jpg", "Atelier Wehrle" %}
        <span class="caption">Manuel Wehrle für die Königliche Gartenakademie</span>
      </div>

      <div class="swiper-slide">
        {% picture  "opener-slider/wehrle_slider__02.jpg", "Atelier Wehrle" %}
        <span class="caption">Manuel Wehrle für die Königliche Gartenakademie</span>
      </div>

      <div class="swiper-slide">
        {% picture  "opener-slider/wehrle_slider__03.jpg", "Atelier Wehrle" %}
        <span class="caption">Manuel Wehrle für die Königliche Gartenakademie</span>
      </div>

      <div class="swiper-slide">
        {% picture  "opener-slider/wehrle_slider__04.jpg", "Atelier Wehrle" %}
      </div>

      <div class="swiper-slide">
        {% picture  "opener-slider/wehrle_slider__05.jpg", "Atelier Wehrle" %}
      </div>

      <div class="swiper-slide">
        {% picture  "opener-slider/wehrle_slider__06.jpg", "Atelier Wehrle" %}
        <span class="caption">Manuel Wehrle für die Königliche Gartenakademie</span>
      </div>

      <div class="swiper-slide">
        {% picture  "opener-slider/wehrle_slider__07.jpg", "Atelier Wehrle" %}
      </div>

      <div class="swiper-slide">
        {% picture  "opener-slider/wehrle_slider__08.jpg", "Atelier Wehrle" %}
      </div>

    </div>

  </div>

</div>

