<div class="hero_slider">

  <!-- Slider main container -->
  <div class="swiper hro__sldr">

    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">

      <!-- Slides -->
      <div class="swiper-slide">
        {% lazyswiper  "Atelier-Wehrle-Gartengestaltung-pool-landschaftsarchitektur-olivenbaeume.jpg", "Atelier Wehrle" %}
      </div>
      
      <div class="swiper-slide">
        {% lazyswiper  "Atelier-Wehrle-Gartengestaltung-natursteinplatten-mediterrane-bepflanzung.jpg", "Atelier Wehrle" %}
      </div>

      <div class="swiper-slide">
        {% lazyswiper  "Atelier-Wehrle-Gartengestaltung-Pflanzplanung-Stauden.jpg", "Atelier Wehrle" %}
      </div>

      <div class="swiper-slide">
        {% lazyswiper  "Atelier-Wehrle-Gartengestaltung-Schwimmteich-naturnah.jpg", "Atelier Wehrle" %}
      </div>

      <div class="swiper-slide">
        {% lazyswiper  "Atelier-Wehrle-Gartenplanung-Obstwiese.jpg", "Atelier Wehrle" %}
      </div>

      <div class="swiper-slide">
        {% lazyswiper  "Atelier-Wehrle-Gartenplanung-Schlossgarten.jpg", "Atelier Wehrle" %}
        <span class="caption">Manuel Wehrle für die Königliche Gartenakademie</span>
      </div>

      <div class="swiper-slide">
        {% lazyswiper  "Atelier-Wehrle-Gartenplanung-Schwimmteich.jpg", "Atelier Wehrle" %}
      </div>

      <div class="swiper-slide">
        {% lazyswiper  "Atelier-Wehrle-Gartenplanung-moderner-Garten.jpg", "Atelier Wehrle" %}
      </div>

      <div class="swiper-slide">
        {% lazyswiper  "Atelier-Wehrle-Gestaltung-Hinterhof.jpg", "Atelier Wehrle" %}
      </div>

      <div class="swiper-slide">
        {% lazyswiper  "Atelier-Wehrle-Pflanzplanung-Staudenbeet.jpg", "Atelier Wehrle" %}
      </div>

    </div>

  </div>

</div>

