<ul class="lg_nav">

  {# Hardcoded order: DE first #}
  {% set activeClassDe = "is-active" if lang == "de" else "" %}
  <li role="none" class="nav__item">
    <a class="lg_nav__link fade {{ activeClassDe }}" href="{% if lang == 'de' %}{{ page.url }}{% else %}{% for link in page.url | locale_links %}{% if link.lang == 'de' %}{{ link.url }}{% endif %}{% endfor %}{% endif %}" lang="de" hreflang="de">
      {{ 'DE' if lang == 'de' else 'DE' }}
    </a>
  </li>

  {% set activeClassEn = "is-active" if lang == "en" else "" %}
  <li role="none" class="nav__item">
    <a class="lg_nav__link fade {{ activeClassEn }}" href="{% if lang == 'en' %}{{ page.url }}{% else %}{% for link in page.url | locale_links %}{% if link.lang == 'en' %}{{ link.url }}{% endif %}{% endfor %}{% endif %}" lang="en" hreflang="en">
      {{ 'EN' if lang == 'en' else 'EN' }}
    </a>
  </li>

</ul>