<nav class="menu-button-links">

  <button type="button" id="menubutton" title="Navigation" aria-haspopup="true" aria-controls="menu" aria-expanded="false" aria-label="Schnell die richtigen Informationen finden – Menu">

    <div class="hamburger">
      <span></span>
    </div>

  </button>

  <ul id="menu" role="menu" aria-labelledby="menubutton" class="nav">

    {%- include "partials/language_switcher.njk" -%}

    <li role="none" class="nav__item">

      <a role="menuitem" href="/{{ locale }}/{{ url.de.about }}" class="st_lvl__link fade {% if '/' + locale + '/' + url.de.about in page.url %}active{% endif %}" >{{ translate[locale].about }}</a>

    </li>

    <li role="none" class="nav__item">

      <a role="menuitem" href="/{{ locale }}/{{ url.de.gardens }}" class="st_lvl__link fade {% if '/' + locale + '/' + url.de.gardens in page.url %}active{% endif %}">{{ translate[locale].gardens }}</a>

    </li>

    <li role="none" class="nav__item">

      <a role="menuitem" href="/{{ locale }}/{{ url.de.contact }}" class="st_lvl__link fade {% if '/' + locale + '/' + url.de.contact in page.url %}active{% endif %}">{{ translate[locale].contact }}</a>

    </li>

    <li id="legal" role="none" class="nav__item">
      <a role="menuitem" href="/{{ locale }}/{{ url.de.imprint }}" class="{% if '/' + locale + '/' + url.de.imprint in page.url %}active{% endif %} fade"><span class="h6">{{ translate[locale].imprint }}</span></a>
      <a role="menuitem" href="/{{ locale }}/{{ url.de.privacy }}" class="{% if '/' + locale + '/' + url.de.privacy in page.url %}active{% endif %} fade"><span class="h6">{{ translate[locale].privacy }}</span></a>
    </li>
  
  </ul><!-- .menu_items -->

</nav><!-- .menu-button-links -->

