<nav class="menu-button-links">

  <button type="button" id="menubutton" title="Navigation" aria-haspopup="true" aria-controls="menu" aria-expanded="false" aria-label="Schnell die richtigen Informationen finden – Menu">
    <div class="hamburger">
      <span></span>
    </div>
  </button>

  <ul id="menu" role="menu" aria-labelledby="menubutton" class="nav">

    {%- include "partials/language_switcher.njk" -%}

    {% set baseUrl = "" if locale == "de" else "/" + locale %}

    <li role="none" class="nav__item">
      {% set href = baseUrl + '/' + url.de.about %}
      <a role="menuitem"
         href="{{ href }}"
         class="st_lvl__link fade {% if href in page.url %}active{% endif %}">
         {{ translate[locale].about }}
      </a>
    </li>

    <li role="none" class="nav__item">
      {% set href = baseUrl + '/' + url.de.gardens %}
      <a role="menuitem"
         href="{{ href }}"
         class="st_lvl__link fade {% if href in page.url %}active{% endif %}">
         {{ translate[locale].gardens }}
      </a>
    </li>

    <li role="none" class="nav__item">
      {% set href = baseUrl + '/' + url.de.contact %}
      <a role="menuitem"
         href="{{ href }}"
         class="st_lvl__link fade {% if href in page.url %}active{% endif %}">
         {{ translate[locale].contact }}
      </a>
    </li>

    <li id="legal" role="none" class="nav__item">
      {% set imprintHref = baseUrl + '/' + url.de.imprint %}
      <a role="menuitem"
         href="{{ imprintHref }}"
         class="{% if imprintHref in page.url %}active{% endif %} fade">
         <span class="h6">{{ translate[locale].imprint }}</span>
      </a>

      {% set privacyHref = baseUrl + '/' + url.de.privacy %}
      <a role="menuitem"
         href="{{ privacyHref }}"
         class="{% if privacyHref in page.url %}active{% endif %} fade">
         <span class="h6">{{ translate[locale].privacy }}</span>
      </a>
    </li>

  </ul><!-- .menu_items -->

</nav><!-- .menu-button-links -->
